$blue-color: rgba(0, 140, 238, 0.3);
$white-blue-color: rgba(0, 140, 238, 1);
$dark-color: rgba(43, 43, 43, 1);
$grey-color: rgba(43, 43, 43, 0.5);
$white-color: rgba(255, 255, 255, 1);
$red-color: rgba(206, 53, 81, 1);
$green-color: rgba(0, 238, 52, 1);
$orange-color: rgba(238, 157, 0, 1);
$pink-color: rgba(205, 0, 238, 1);
