* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
  // outline: 3px solid red !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

// img {
//   max-block-size: 100%;
// }

input:focus {
  outline: none;
}

::placeholder {
  color: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
