// COLORS CSS VARIABLES
$white: rgba(255, 255, 255, 1);
$black: rgba(43, 43, 43, 1);
$grey: rgba(43, 43, 43, 0.5);
$light-blue: rgba(97, 190, 255, 0.5);
$blue: rgba(0, 140, 238, 1);
$red: rgba(206, 53, 81, 1);
$green: rgba(0, 238, 52, 1);
$dark-green: #24907B;
$orange: rgba(238, 157, 0, 1);
$purple: rgba(205, 0, 238, 1);
$dark-purple: #7000FF;
$line-color: rgba(0, 0, 0, 0.2);
$light-grey: #eee;
$otp-button: #2B2B2B80;

// BOX-SHADOWS CSS VARIABLES
$inside-box-shadow: 8px 8px 50px 0px rgba(0, 140, 238, 0.2) inset;
$outside-box-shadow-blue: 2px 2px 10px 0px rgba(0, 140, 238, 0.2);
$outside-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
$inside-box-shadow-black: 5px 5px 50px 0px rgba(0, 0, 0, 0.3) inset;