@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

::placeholder {
  color: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 100px;
}

header#main-header {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 101;
  width: 100%;
}
header#main-header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 0;
}
header#main-header nav .top-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 25px;
  padding: 10.2px 0;
}
header#main-header nav .top-nav #main-body-content-toggler {
  display: inline-block;
  cursor: pointer;
}
header#main-header nav .top-nav #main-body-content-toggler img {
  width: 40px;
  height: 40px;
}
header#main-header nav .top-nav .logo-wrapper a img {
  width: clamp(40px, 4vw, 60px);
}
header#main-header nav .top-nav .location-wrapper {
  cursor: pointer;
  position: relative;
}
header#main-header nav .top-nav .location-wrapper .selected-location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
header#main-header nav .top-nav .location-wrapper .selected-location img {
  width: 30px;
}
header#main-header nav .top-nav .location-wrapper .selected-location .location-city {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  gap: 0;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 400;
  line-height: 20px;
  color: rgb(43, 43, 43);
  margin: 0;
}
header#main-header nav .top-nav .location-wrapper .selected-location .location-city span {
  color: rgba(43, 43, 43, 0.5);
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content {
  display: none;
  position: absolute;
  z-index: 3;
  top: 40px;
  box-shadow: 0 8px 16px lightgray;
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  gap: 0;
  font-size: clamp(14px, 1.5vw, 18px);
  font-weight: 400;
  padding: 0px 20px;
  background-color: rgb(255, 255, 255);
  margin: 0;
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city span {
  color: rgba(43, 43, 43, 0.5);
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 140, 238);
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city:hover span {
  color: rgb(0, 140, 238);
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city:first-child {
  padding-top: 10px;
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city:last-child {
  padding-bottom: 10px;
}
header#main-header nav .top-nav .location-wrapper:hover .locations-dropdown-content {
  display: block;
}
header#main-header nav .top-nav .search-wrapper {
  width: 100%;
  max-width: 1011px;
  position: relative;
}
header#main-header nav .top-nav .search-wrapper input {
  background-color: rgba(97, 190, 255, 0.5);
  border-radius: 15px;
  height: clamp(30px, 4vw, 50px);
  padding: 0 60px 0 50px;
}
header#main-header nav .top-nav .search-wrapper input::placeholder {
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 400;
  color: rgba(43, 43, 43, 0.5);
}
header#main-header nav .top-nav .search-wrapper input:focus {
  border: none;
  box-shadow: 0 0 0 0.1rem rgb(0, 140, 238);
}
header#main-header nav .top-nav .search-wrapper span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  background-color: rgb(0, 140, 238);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  top: 0.8px;
  right: -2px;
  height: 48px;
  padding: 0 12px;
  cursor: pointer;
}
header#main-header nav .top-nav .search-wrapper button {
  position: absolute;
  top: clamp(0px, 0.5vw, 10px);
  right: 10px;
  border: none;
  background-color: transparent;
}
header#main-header nav .top-nav .search-wrapper button img {
  width: clamp(20px, 1.5vw, 28px);
}
header#main-header nav .top-nav .mobile-phone-wrapper img {
  width: 24px;
}
header#main-header nav .top-nav .dropdown {
  transition: 0s !important;
}
header#main-header nav .top-nav .dropdown .dropdown-toggle {
  background-color: transparent;
  padding: 0;
  border: none;
}
header#main-header nav .top-nav .dropdown .dropdown-toggle img {
  width: clamp(25px, 3vw, 45px);
}
header#main-header nav .top-nav .dropdown .dropdown-toggle::after {
  display: none;
}
header#main-header nav .top-nav .dropdown .dropdown-menu {
  --bs-dropdown-min-width: 5rem;
}
header#main-header nav .top-nav .dropdown .dropdown-menu li .dropdown-item img {
  width: 45px;
}
header#main-header nav .top-nav .dropdown .dropdown-menu.show {
  transform: translate(-15px, 50px) !important;
}
header#main-header nav .top-nav .add-to-cart-wrapper {
  position: relative;
}
header#main-header nav .top-nav .add-to-cart-wrapper img {
  width: 40px;
}
header#main-header nav .top-nav .add-to-cart-wrapper .cart-count {
  position: absolute;
  top: -5px;
  right: -15px;
  background-color: rgb(206, 53, 81);
  border-radius: 12px;
  padding: 1px 10px;
  color: rgb(255, 255, 255);
  font-size: clamp(10px, 1.5vw, 14px);
  font-weight: 400;
}
header#main-header nav .top-nav .enter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  transition: 0.3s ease;
}
header#main-header nav .top-nav .enter-wrapper .enter-title {
  font-size: clamp(14px, 2vw, 22px);
  font-weight: 500;
  color: rgb(43, 43, 43);
  margin: 0;
}
header#main-header nav .top-nav .enter-wrapper .hidden {
  display: none;
}
header#main-header nav .top-nav .enter-wrapper .overlay {
  position: fixed;
  top: 80.35px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 140, 238);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
header#main-header nav .top-nav .enter-wrapper .overlay .modal-image-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 500px;
}
header#main-header nav .top-nav .enter-wrapper .overlay .modal-image-1 img {
  width: 100%;
  object-fit: cover;
}
header#main-header nav .top-nav .enter-wrapper .overlay .modal-image-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 500px;
}
header#main-header nav .top-nav .enter-wrapper .overlay .modal-image-2 img {
  width: 100%;
  object-fit: cover;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal {
  position: fixed;
  width: calc(100% - 40px);
  max-width: 540px;
  background-color: #f4f4f4;
  padding: 15px 40px;
  border-radius: 8px;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  z-index: 102;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .close-btn {
  border: none;
  width: 100%;
  margin-top: 15px;
  cursor: unset;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .close-btn i {
  font-size: 18px;
  cursor: pointer;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-header h3 {
  font-size: clamp(24px, 4vw, 35px);
  font-weight: 500;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form {
  width: 100%;
  margin: 25px auto;
  border-radius: 10px;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .form-control-wrapper {
  margin: 10px 0;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .form-control-wrapper > * {
  display: block;
  width: 100%;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .form-control-wrapper label {
  margin-left: 10px;
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 400;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .form-control-wrapper input {
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: rgba(97, 190, 255, 0.5);
  border-radius: 8px;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .form-control-wrapper input:focus {
  background-color: snow;
  outline: 3px solid rgba(0, 255, 255, 0.3);
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .form-control-wrapper input::placeholder {
  color: gray;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .form-control-wrapper button {
  outline: none;
  border: none;
  padding: 10px 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 250px;
  background-color: rgb(206, 53, 81);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: clamp(15px, 2vw, 22px);
  font-weight: 400;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .form-control-wrapper .error {
  font-size: small;
  text-align: center;
  color: red;
  font-style: italic;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .password-wrapper {
  position: relative;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .password-wrapper span {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 53%;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .forgot-password {
  display: block;
  text-align: end;
  color: rgb(206, 53, 81);
  font-size: clamp(15px, 1.5vw, 18px);
  font-weight: 500;
}
header#main-header nav .top-nav .enter-wrapper .overlay.visible {
  opacity: 1;
  visibility: visible;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal.visible {
  opacity: 1;
}
header#main-header nav .line {
  width: 100%;
  border-top: 1px solid rgba(43, 43, 43, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
}
header#main-header nav .bottom-nav {
  display: none;
  margin: 10px 0;
}
header#main-header nav .bottom-nav .bottom-nav-items {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  gap: 10px 30px;
  padding: 0;
  margin: 10px 0;
}
header#main-header nav .bottom-nav .bottom-nav-items .item a {
  font-size: clamp(11px, 1.3vw, 18px);
  font-weight: 400;
  color: rgb(43, 43, 43);
}
header#main-header nav .bottom-nav .dropdown {
  display: none;
}
header#main-header nav .bottom-nav .dropdown button {
  width: 100%;
  background-color: transparent;
  color: rgb(0, 140, 238);
  border-color: rgb(0, 140, 238);
}
header#main-header nav .bottom-nav .dropdown .dropdown-menu.show {
  width: 100%;
}
header#main-header nav .bottom-nav .dropdown:focus {
  box-shadow: 0 0 0 0.05rem rgba(13, 110, 253, 0.25);
}

#main-body-content .main-content-wrapper .left-menu {
  background-color: rgb(255, 255, 255);
  overflow: auto;
  position: fixed;
  top: 80px;
  background-color: white;
  z-index: 999;
  left: 0;
  height: calc(100vh - 80px);
  transform: translateX(-100%);
  transition: all 0.3s;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item > a {
  color: #2b2b2b;
  padding: 10px;
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item > a.active {
  background-color: rgb(0, 140, 238);
  color: rgb(255, 255, 255);
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item > a.active img {
  filter: brightness(10);
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item > .nav-drp-content {
  display: none;
  overflow: hidden;
  max-height: 0;
  background-color: #f4f4f4;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item > .nav-drp-content a {
  display: block;
  color: rgb(43, 43, 43);
  padding: 10px 20px 10px 60px;
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 400;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item > .nav-drp-content a::before {
  content: " ";
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item > .nav-drp-content a:hover {
  background-color: lightgray;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item a.nav-drp-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item a.nav-drp-button .left-menu-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item a.nav-drp-button .left-menu-icon .arrow {
  transition: 0.5s;
  display: inline-block;
  margin-left: 10px;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item .user-name-wrapper {
  padding: 20px 0;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item .user-name-wrapper .user-name {
  margin: 0;
  font-size: clamp(18px, 4vw, 26px);
  font-weight: 500;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item .user-name-wrapper .user-summ {
  margin: 0;
  color: rgb(206, 53, 81);
  font-size: clamp(14px, 1.5vw, 18px);
  font-weight: 500;
}
#main-body-content .main-content-wrapper .left-menu .user-menu-item {
  border-bottom: 1px solid rgb(43, 43, 43);
  border-top: 1px solid rgb(43, 43, 43);
}
#main-body-content .main-content-wrapper .left-menu span:last-child {
  opacity: 0;
}
#main-body-content .main-content-wrapper .left-menu.show-left-menu {
  border-right: 1px solid rgb(245, 245, 245);
  width: 30%;
  height: calc(100vh - 80px);
  transform: translateX(0);
}
#main-body-content .main-content-wrapper .left-menu.show-left-menu span:last-child {
  opacity: 1;
}
#main-body-content .main-content-wrapper .left-menu .search-wrapper {
  width: 100%;
  position: relative;
  padding: 10px 5px;
  display: none;
  margin-top: 10px;
  border-top: 1px solid rgb(245, 245, 245);
}
#main-body-content .main-content-wrapper .left-menu .search-wrapper input {
  background-color: rgba(97, 190, 255, 0.5);
  border-radius: 15px;
  height: 50px;
}
#main-body-content .main-content-wrapper .left-menu .search-wrapper input::placeholder {
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 400;
  color: rgba(43, 43, 43, 0.5);
}
#main-body-content .main-content-wrapper .left-menu .search-wrapper input:focus {
  border: none;
  box-shadow: 0 0 0 0.1rem rgb(0, 140, 238);
}
#main-body-content .main-content-wrapper .left-menu .search-wrapper span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  background-color: rgb(0, 140, 238);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  top: 10.8px;
  right: 7px;
  height: 48px;
  padding: 0 12px;
  cursor: pointer;
}
#main-body-content .main-content-wrapper .left-menu .search-wrapper span img {
  width: 28px;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-language {
  display: none;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-language .language-menu {
  display: flex;
  justify-content: start;
  padding: 0;
  margin: 10px;
  align-items: center;
  gap: 20px;
}
#main-body-content .main-content {
  background-color: rgb(255, 255, 255);
  width: 100%;
}
@media (max-width: 992px) {
  #main-body-content .main-content-wrapper .left-menu.show-left-menu {
    width: 40%;
  }
}
@media (max-width: 768px) {
  #main-body-content .main-content-wrapper .left-menu.show-left-menu {
    width: 55%;
  }
}
@media (max-width: 450px) {
  #main-body-content .main-content-wrapper .left-menu.show-left-menu {
    width: 100%;
  }
}

.footer-top-wrapper {
  background-color: rgb(0, 140, 238);
  padding: 80px 0;
}
.footer-top-wrapper .footer-logo-wrapper img {
  width: 100%;
  max-width: 250px;
}
.footer-top-wrapper .footer-social-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.footer-top-wrapper .footer-social-wrapper a {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 10px;
}
.footer-top-wrapper .footer-social-wrapper a img {
  width: 100%;
}
.footer-top-wrapper .footer-about-us-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.footer-top-wrapper .footer-about-us-wrapper .about-us-title {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: clamp(20px, 3vw, 28px);
  font-weight: 500;
}
.footer-top-wrapper .footer-about-us-wrapper .about-us-title:hover {
  color: rgb(43, 43, 43);
}
.footer-top-wrapper .footer-contact-wrapper {
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  gap: 20px;
}
.footer-top-wrapper .footer-contact-wrapper .contact-title {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: clamp(20px, 3vw, 28px);
  font-weight: 500;
}
.footer-top-wrapper .footer-contact-wrapper .phone-number {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: clamp(15px, 2vw, 20px);
  font-weight: 400;
}
.footer-top-wrapper .footer-contact-wrapper a {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: clamp(15px, 2vw, 20px);
  font-weight: 400;
}
.footer-top-wrapper .footer-contact-wrapper a:hover {
  color: rgb(43, 43, 43);
}
.footer-top-wrapper .footer-contact-wrapper .address {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: clamp(15px, 2vw, 20px);
  font-weight: 400;
}

.footer-bottom-wrapper {
  padding: 15px 0;
}
.footer-bottom-wrapper .footer-bottom-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.footer-bottom-wrapper .footer-bottom-content-wrapper p {
  margin: 0;
  color: rgba(43, 43, 43, 0.5);
  font-size: clamp(14px, 2vw, 20px);
  font-weight: 400;
}
.footer-bottom-wrapper .footer-bottom-content-wrapper p a {
  color: rgb(43, 43, 43);
  font-size: clamp(14px, 2vw, 20px);
  font-weight: 500;
}

@media (max-width: 576px) {
  .footer-top-wrapper {
    padding: 20px 0;
  }
  .footer-bottom-wrapper {
    padding: 15px 0 100px;
  }
}
.welcome-wrapper {
  padding-top: 70px;
  background-color: rgb(0, 140, 238);
}
.welcome-wrapper .welcome-content {
  padding: 20px 0;
  height: 121px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.welcome-wrapper .welcome-content img {
  width: 100%;
  max-width: 200px;
  filter: brightness(2);
}
.welcome-wrapper .welcome-content .welcome-title {
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: clamp(24px, 2.5vw, 26px);
  font-weight: 500;
}

.main-slider-wrapper {
  width: 100%;
}

.swiper-animation-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 80vh;
}

.anim-img {
  width: 100%;
  transition: width 4s ease;
  position: absolute;
}

.anim-img img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

/* Media query для маленьких экранов */
@media (max-width: 768px) {
  .swiper-animation-wrapper {
    height: 27vh;
  }
  .anim-img img {
    height: 30vh;
  }
  /* Ускоренная анимация для маленьких экранов */
  .anim-img:nth-child(1) {
    animation: slide1-small 2s ease-out forwards;
    right: -100%;
  }
  .anim-img:nth-child(2) {
    animation: slide2-small 2s ease-out forwards;
    animation-delay: 2s;
    right: -100%;
  }
  .anim-img:nth-child(3) {
    animation: slide3-small 2s ease-out forwards;
    animation-delay: 4s;
    right: -100%;
  }
  .anim-img:nth-child(4) {
    animation: slide4-small 2s ease-out forwards;
    animation-delay: 6s;
    right: -100%;
  }
  /* Определения анимации для маленьких экранов */
  @keyframes slide1-small {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
  @keyframes slide2-small {
    0% {
      right: -100%;
    }
    100% {
      right: -25%;
    }
  }
  @keyframes slide3-small {
    0% {
      right: -100%;
    }
    100% {
      right: -50%;
    }
  }
  @keyframes slide4-small {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
}
/* Оригинальные анимации для больших экранов */
.anim-img:nth-child(1) {
  animation: slide1 3s ease-out forwards;
  right: -100%;
}

@keyframes slide1 {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
.anim-img:nth-child(2) {
  animation: slide2 3s ease-out forwards;
  animation-delay: 3s;
  right: -100%;
}

@keyframes slide2 {
  0% {
    right: -100%;
  }
  100% {
    right: -25%;
  }
}
.anim-img:nth-child(3) {
  animation: slide3 3s ease-out forwards;
  animation-delay: 6s;
  right: -100%;
}

@keyframes slide3 {
  0% {
    right: -100%;
  }
  100% {
    right: -50%;
  }
}
.anim-img:nth-child(4) {
  animation: slide4 3s ease-out forwards;
  animation-delay: 9s;
  right: -100%;
}

@keyframes slide4 {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
.chat-container {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 999;
  width: 100%;
}
.chat-container .chat-wrapper {
  width: 100%;
  touch-action: none;
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  flex-wrap: nowrap;
  gap: 10px;
}
.chat-container .chat-wrapper .chat-btn-content {
  position: absolute;
  bottom: -10px;
  right: -10px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  width: 100%;
  max-width: 330px;
  height: 315px;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  display: none;
}
.chat-container .chat-wrapper .chat-btn-content .chat-content-header {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(43, 43, 43, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.chat-container .chat-wrapper .chat-btn-content .chat-content-header .chat-content-header-title {
  font-size: clamp(13px, 1.5vw, 18px);
  font-weight: 500;
  margin: 0;
}
.chat-container .chat-wrapper .chat-btn-content .chat-content-body {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.chat-container .chat-wrapper .chat-btn-content .chat-content-body .chat-body-btn {
  background-color: rgb(0, 140, 238);
  color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  display: flex;
  flex-direction: 13px;
  justify-content: 1.5vw;
  align-items: 16px;
  flex-wrap: 400;
  gap: 10px;
}
.chat-container .chat-wrapper .chat-btn {
  background-color: rgba(97, 190, 255, 0.95);
  border-radius: 16px;
  border-color: transparent;
  padding: 10px;
  z-index: 2;
}
.chat-container .chat-wrapper .chat-btn img {
  width: 40px;
  height: 40px;
}

.online-assessment-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
  box-shadow: 8px 8px 50px 0px rgba(0, 140, 238, 0.2) inset;
  margin: 30px 0;
  padding: 30px;
  border-radius: 24px;
}
.online-assessment-wrapper .assessment-header-wrapper .online-assessment-header {
  color: rgb(0, 140, 238);
  font-size: clamp(22px, 4vw, 56px);
  font-weight: 500;
  text-align: center;
}
.online-assessment-wrapper .assessment-header-wrapper .online-assessment-description {
  font-size: clamp(16px, 3vw, 36px);
  font-weight: 400;
  width: 100%;
  max-width: 818px;
  text-align: center;
}
.online-assessment-wrapper .form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  flex-wrap: nowrap;
  gap: 10px;
}
.online-assessment-wrapper .form-wrapper form {
  width: 100%;
  max-width: 954px;
}
.online-assessment-wrapper .form-wrapper form .input-wrapper {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  flex-wrap: nowrap;
  gap: 20px;
}
.online-assessment-wrapper .form-wrapper form .input-wrapper .phone-number-assessment-input-wrapper {
  width: 100%;
}
.online-assessment-wrapper .form-wrapper form .input-wrapper label {
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 500;
  color: rgb(43, 43, 43);
  margin-left: 20px;
}
.online-assessment-wrapper .form-wrapper form .input-wrapper input {
  padding: 10px 30px;
  max-width: 854px;
  height: clamp(26px, 5.5vw, 60px);
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 400;
}
.online-assessment-wrapper .form-wrapper form .input-wrapper.sms-input-wrapper {
  display: none;
}
.online-assessment-wrapper .form-wrapper form .input-wrapper .send-action-wrapper {
  width: 45%;
}
.online-assessment-wrapper .form-wrapper form .input-wrapper .send-action-wrapper button {
  width: 100%;
  height: clamp(26px, 5.5vw, 60px);
}
.online-assessment-wrapper .form-wrapper .sms-action-wrapper {
  display: none;
  width: 46%;
  align-items: center;
  gap: 10px;
}
.online-assessment-wrapper .form-wrapper .sms-action-wrapper #auto-decrement-time-for-sms {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 500;
}
.online-assessment-wrapper .form-wrapper .assessment-btn {
  border: transparent;
  background-color: rgb(206, 53, 81);
  padding: clamp(8px, 1vw, 8px) clamp(5px, 1vw, 30px);
  border-radius: 0.375rem;
  color: rgb(255, 255, 255);
  height: 60px;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.online-assessment-wrapper .form-wrapper .assessment-btn:hover {
  outline: 3px solid rgba(255, 0, 0, 0.3);
}
.online-assessment-wrapper .form-wrapper .assessment-btn:disabled {
  background-color: gray;
  color: rgb(255, 255, 255);
  outline: none;
}

.banner-content-wrapper {
  background-image: url("/assets/images/home/sale-banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  position: relative;
}
.banner-content-wrapper .banner-header {
  position: absolute;
  bottom: 20%;
  font-size: clamp(14px, 3.5vw, 36px);
  font-weight: 400;
  width: 100%;
  max-width: 300px;
  margin: 0;
}
.banner-content-wrapper span {
  font-size: clamp(14px, 3.5vw, 46px);
  font-weight: 500;
}

.slider-wrapper {
  margin: 40px 0;
}
.slider-wrapper .carousel-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  margin: 0 0 20px 0;
}
.slider-wrapper .carousel-content-wrapper .carousel-header {
  font-size: clamp(22px, 4vw, 56px);
  font-weight: 700;
  color: rgb(0, 140, 238);
  text-align: center;
  margin: 0;
}
.slider-wrapper .carousel-content-wrapper .carousel-description {
  font-size: clamp(16px, 3vw, 36px);
  font-weight: 400;
  color: rgb(43, 43, 43);
  text-align: center;
  margin-bottom: 50px;
}

.carousel-wrapper {
  padding: 40px 0;
}
.carousel-wrapper .owl-carousel {
  position: relative;
}
.carousel-wrapper .owl-carousel .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.3) inset;
  border-radius: clamp(14px, 4vw, 40px);
  width: 100%;
  max-width: 450px;
  aspect-ratio: 350/420;
  height: auto;
}
.carousel-wrapper .owl-carousel .item img {
  padding: 10px 30px 0;
}
.carousel-wrapper .owl-carousel .item .swiper-item-title {
  font-size: clamp(14px, 3vw, 28px);
  font-weight: 400;
  margin: 0;
  text-align: center;
  padding: 0 20px 30px;
}
.carousel-wrapper .owl-carousel .owl-nav .owl-prev {
  background-color: rgb(206, 53, 81);
  border-radius: 50%;
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  left: 0;
  width: 50px;
  height: 50px;
}
.carousel-wrapper .owl-carousel .owl-nav .owl-prev span {
  font-size: 60px;
  position: absolute;
  top: 33%;
  left: 48%;
  transform: translate(-50%, -50%);
}
.carousel-wrapper .owl-carousel .owl-nav .owl-next {
  background-color: rgb(206, 53, 81);
  border-radius: 50%;
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  right: 0;
  width: 50px;
  height: 50px;
}
.carousel-wrapper .owl-carousel .owl-nav .owl-next span {
  font-size: 60px;
  position: absolute;
  top: 33%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block !important;
}

.product-evolution-wrapper {
  margin: 40px 0;
}
.product-evolution-wrapper .product-evalution-header {
  font-size: clamp(36px, 4vw, 56px);
  font-weight: 700;
  color: rgb(0, 140, 238);
  text-align: center;
  margin: 0 0 50px 0;
}
.product-evolution-wrapper .product-evalution-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 50px;
}
.product-evolution-wrapper .product-evalution-card-wrapper .product-evalution-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 35px 25px;
  border-radius: 26px;
  position: relative;
}
.product-evolution-wrapper .product-evalution-card-wrapper .product-evalution-card .product-evalution-image-wrapper {
  background-color: rgba(97, 190, 255, 0.5);
  border-radius: 50%;
  padding: 20px;
}
.product-evolution-wrapper .product-evalution-card-wrapper .product-evalution-card .product-evalution-image-wrapper img {
  width: 100%;
  max-width: 80px;
}
.product-evolution-wrapper .product-evalution-card-wrapper .product-evalution-card a {
  font-size: clamp(14px, 2vw, 24px);
  font-weight: 500;
  color: rgb(43, 43, 43);
  text-align: center;
}
.product-evolution-wrapper .product-evalution-card-wrapper .product-evalution-card a::after {
  content: "";
  position: absolute;
  inset: 0;
}
.product-evolution-wrapper .product-evalution-card-wrapper .product-evalution-card:hover {
  box-shadow: 2px 2px 10px 0px rgba(0, 140, 238, 0.2);
  transform: scale(1.03);
}

.our-preferences-wrapper .our-preferences-header-wrapper {
  padding: 40px 0 0;
}
.our-preferences-wrapper .our-preferences-header-wrapper .our-preferences-header {
  color: rgb(0, 140, 238);
  text-align: center;
  font-size: clamp(37px, 4vw, 56px);
  font-weight: 700;
}
.our-preferences-wrapper .our-preferences-header-wrapper .our-preferences-description {
  color: rgb(43, 43, 43);
  text-align: center;
  font-size: clamp(15px, 3vw, 36px);
  font-weight: 400;
}
.our-preferences-wrapper .our-preferences-content-wrapper .our-preferences-item {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 10px;
}
.our-preferences-wrapper .our-preferences-content-wrapper .our-preferences-item .preferences-green {
  background-color: rgb(0, 238, 52);
  border-radius: 50%;
  padding: 13.5px;
}
.our-preferences-wrapper .our-preferences-content-wrapper .our-preferences-item .preferences-green img {
  width: 60px;
}
.our-preferences-wrapper .our-preferences-content-wrapper .our-preferences-item .preferences-red {
  background-color: rgb(206, 53, 81);
  border-radius: 50%;
  padding: 13.5px;
}
.our-preferences-wrapper .our-preferences-content-wrapper .our-preferences-item .preferences-red img {
  width: 60px;
}
.our-preferences-wrapper .our-preferences-content-wrapper .our-preferences-item .preferences-orange {
  background-color: rgb(238, 157, 0);
  border-radius: 50%;
  padding: 13.5px;
}
.our-preferences-wrapper .our-preferences-content-wrapper .our-preferences-item .preferences-orange img {
  width: 60px;
}
.our-preferences-wrapper .our-preferences-content-wrapper .our-preferences-item .preferences-blue {
  background-color: rgb(0, 140, 238);
  border-radius: 50%;
  padding: 13.5px;
}
.our-preferences-wrapper .our-preferences-content-wrapper .our-preferences-item .preferences-blue img {
  width: 60px;
}
.our-preferences-wrapper .our-preferences-content-wrapper .our-preferences-item .preferences-purple {
  background-color: rgb(205, 0, 238);
  border-radius: 50%;
  padding: 13.5px;
}
.our-preferences-wrapper .our-preferences-content-wrapper .our-preferences-item .preferences-purple img {
  width: 60px;
}
.our-preferences-wrapper .our-preferences-content-wrapper .our-preferences-item .our-perferences-item-title {
  margin: 0;
  color: rgb(43, 43, 43);
  font-size: clamp(14px, 2vw, 22px);
  font-weight: 500;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 105;
  background: rgba(0, 0, 0, 0.75);
}

.hidden {
  display: none;
}

#popup,
#popup-2,
#popup-3 {
  display: none;
}
#popup .popup-wrapper,
#popup-2 .popup-wrapper,
#popup-3 .popup-wrapper {
  width: 100%;
  max-width: 1420px;
  background-color: rgb(255, 255, 255);
  border-radius: clamp(20px, 3.5vw, 50px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: nowrap;
  gap: 10px;
}
#popup .popup-wrapper .anim-wrapper video,
#popup-2 .popup-wrapper .anim-wrapper video,
#popup-3 .popup-wrapper .anim-wrapper video {
  width: 100%;
  max-width: 1019px;
  height: 100%;
  border-radius: clamp(20px, 3.5vw, 50px);
}
#popup .popup-wrapper .anim-content-wrapper,
#popup-2 .popup-wrapper .anim-content-wrapper,
#popup-3 .popup-wrapper .anim-content-wrapper {
  width: 100%;
  max-width: 450px;
  padding: 10px 20px;
  text-align: center;
}
#popup .popup-wrapper .anim-content-wrapper .pop-close-btn,
#popup-2 .popup-wrapper .anim-content-wrapper .pop-close-btn,
#popup-3 .popup-wrapper .anim-content-wrapper .pop-close-btn {
  font-size: clamp(12px, 2vw, 21px);
  margin: 0 0 0 90%;
}
#popup .popup-wrapper .anim-content-wrapper .popup-content-container,
#popup-2 .popup-wrapper .anim-content-wrapper .popup-content-container,
#popup-3 .popup-wrapper .anim-content-wrapper .popup-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: clamp(10px, 1.5vw, 30px);
}
#popup .popup-wrapper .anim-content-wrapper .popup-content-container .popup-top-header,
#popup-2 .popup-wrapper .anim-content-wrapper .popup-content-container .popup-top-header,
#popup-3 .popup-wrapper .anim-content-wrapper .popup-content-container .popup-top-header {
  font-weight: 400;
  color: rgb(0, 140, 238);
  font-size: clamp(21px, 2.5vw, 32px);
  line-height: clamp(25px, 4vw, 40px);
}
#popup .popup-wrapper .anim-content-wrapper .popup-content-container span,
#popup-2 .popup-wrapper .anim-content-wrapper .popup-content-container span,
#popup-3 .popup-wrapper .anim-content-wrapper .popup-content-container span {
  font-weight: 600;
  color: rgb(0, 140, 238);
  font-size: clamp(21px, 2.5vw, 32px);
  line-height: clamp(25px, 4vw, 40px);
}
#popup .popup-wrapper .anim-content-wrapper .popup-content-container span p,
#popup-2 .popup-wrapper .anim-content-wrapper .popup-content-container span p,
#popup-3 .popup-wrapper .anim-content-wrapper .popup-content-container span p {
  margin: 0;
}
#popup .popup-wrapper .anim-content-wrapper .popup-content-container form,
#popup-2 .popup-wrapper .anim-content-wrapper .popup-content-container form,
#popup-3 .popup-wrapper .anim-content-wrapper .popup-content-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: clamp(10px, 1.5vw, 30px);
}
#popup .popup-wrapper .anim-content-wrapper .popup-content-container form input,
#popup-2 .popup-wrapper .anim-content-wrapper .popup-content-container form input,
#popup-3 .popup-wrapper .anim-content-wrapper .popup-content-container form input {
  width: 100%;
  background-color: rgba(97, 190, 255, 0.5);
  padding: 10px;
  font-size: clamp(10px, 1.5vw, 20px);
}
#popup .popup-wrapper .anim-content-wrapper .popup-content-container form input::placeholder,
#popup-2 .popup-wrapper .anim-content-wrapper .popup-content-container form input::placeholder,
#popup-3 .popup-wrapper .anim-content-wrapper .popup-content-container form input::placeholder {
  text-align: center;
  color: rgba(43, 43, 43, 0.5);
  font-size: clamp(10px, 1.5vw, 20px);
}
#popup .popup-wrapper .anim-content-wrapper .popup-content-container form input:focus,
#popup-2 .popup-wrapper .anim-content-wrapper .popup-content-container form input:focus,
#popup-3 .popup-wrapper .anim-content-wrapper .popup-content-container form input:focus {
  box-shadow: none;
}
#popup .popup-wrapper .anim-content-wrapper .popup-content-container form button,
#popup-2 .popup-wrapper .anim-content-wrapper .popup-content-container form button,
#popup-3 .popup-wrapper .anim-content-wrapper .popup-content-container form button {
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(206, 53, 81);
  font-size: clamp(14px, 2vw, 24px);
}

.mobile-bottom-menu-wrapper {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  padding: 15px 0;
  border-top: 1px solid #eee;
  z-index: 1000;
}
.mobile-bottom-menu-wrapper .items-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mobile-bottom-menu-wrapper .items-wrapper .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  position: relative;
}
.mobile-bottom-menu-wrapper .items-wrapper .item img {
  width: 32px;
  transition: filter 0.3s ease;
}
.mobile-bottom-menu-wrapper .items-wrapper .item a {
  color: rgb(43, 43, 43);
  font-weight: 500;
  font-size: clamp(12px, 1.5vw, 16px);
  transition: color 0.3s ease;
}
.mobile-bottom-menu-wrapper .items-wrapper .item a::after {
  position: absolute;
  content: "";
  inset: 0;
}
.mobile-bottom-menu-wrapper .items-wrapper .item a:hover {
  color: rgb(0, 140, 238);
}
.mobile-bottom-menu-wrapper .items-wrapper .item.active a {
  color: rgb(0, 140, 238);
}
.mobile-bottom-menu-wrapper .items-wrapper .item.active img {
  filter: brightness(0) saturate(100%) invert(29%) sepia(85%) saturate(3000%) hue-rotate(205deg) brightness(90%) contrast(101%);
}

.mobile-catalog {
  margin-top: 100px;
  display: none;
}
.mobile-catalog .mobile-catalog-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-catalog .mobile-catalog-header-wrapper .mobile-catalog-header {
  font-weight: 600;
  font-size: clamp(22px, 2.5vw, 26px);
}
.mobile-catalog .mobile-catalog-header-wrapper .mobile-filtr img {
  filter: brightness(0);
}
.mobile-catalog .mobile-catalog-wrapper .catalog-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  text-align: center;
  border: 0.85px solid rgb(0, 140, 238);
  border-radius: 8.5px;
  min-height: clamp(110px, 8vw, 150px);
  padding: 10px;
  position: relative;
}
.mobile-catalog .mobile-catalog-wrapper .catalog-item:hover {
  background-color: rgba(97, 190, 255, 0.5);
}
.mobile-catalog .mobile-catalog-wrapper .catalog-item .catalog-img-wrapper {
  position: absolute;
  top: -30px;
}
.mobile-catalog .mobile-catalog-wrapper .catalog-item .catalog-img-wrapper img {
  width: 100%;
  max-height: clamp(90px, 8vw, 110px);
  object-fit: cover;
}
.mobile-catalog .mobile-catalog-wrapper .catalog-item a {
  padding-top: 10px;
  color: rgb(43, 43, 43);
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  min-height: 40px; /* Фиксированная минимальная высота для текста */
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-catalog .mobile-catalog-wrapper .catalog-item a::after {
  position: absolute;
  content: "";
  inset: 0;
}

@media (max-width: 1400px) {
  .banner-content-wrapper {
    height: 600px;
  }
  .product-evolution-wrapper .product-evalution-card-wrapper .product-evalution-card .product-evalution-image-wrapper img {
    width: 100%;
    max-width: 60px;
  }
}
@media (max-width: 1200px) {
  .container {
    padding: 0 70px;
  }
  header#main-header nav .top-nav {
    justify-content: space-evenly;
  }
  header#main-header nav .top-nav .enter-wrapper .overlay .modal-image-1 {
    max-width: 400px;
  }
  header#main-header nav .top-nav .enter-wrapper .overlay .modal-image-2 {
    max-width: 400px;
  }
  .main-slider-wrapper .slider {
    height: 600px;
  }
  .banner-content-wrapper {
    height: 600px;
  }
  .footer-top-wrapper .footer-about-us-wrapper {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer-top-wrapper .footer-contact-wrapper {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
  }
  #popup,
  #popup-2,
  #popup-3 {
    position: relative;
  }
  #popup .popup-wrapper,
  #popup-2 .popup-wrapper,
  #popup-3 .popup-wrapper {
    width: 100%;
    max-width: 700px;
    padding: clamp(30px, 3vw, 50px) clamp(10px, 1.5vw, 30px) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
  }
  #popup .popup-wrapper .anim-content-wrapper .pop-close-btn,
  #popup-2 .popup-wrapper .anim-content-wrapper .pop-close-btn,
  #popup-3 .popup-wrapper .anim-content-wrapper .pop-close-btn {
    padding: 0;
    position: absolute;
    top: clamp(5px, 1vw, 10px);
    right: clamp(10px, 1.5vw, 30px);
  }
}
@media (max-width: 992px) {
  .container {
    padding: 0 50px;
  }
  .main-slider-wrapper .slider {
    height: 600px;
  }
  .main-slider-wrapper .thumbnail .item {
    width: 150px;
    height: 170px;
  }
  .banner-content-wrapper {
    height: 380px;
  }
  .our-preferences-wrapper .our-preferences-content-wrapper {
    padding: 0 20px;
  }
  .our-preferences-wrapper .our-preferences-content-wrapper .our-preferences-item {
    padding: 10px 0;
  }
  .online-assessment-wrapper .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    flex-wrap: nowrap;
    gap: 10px;
  }
  .online-assessment-wrapper .form-wrapper form .input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    flex-wrap: nowrap;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  #main-header nav .top-nav .enter-wrapper {
    display: none !important;
  }
  #main-header nav .top-nav .add-to-cart-wrapper {
    display: none !important;
  }
  #main-header nav .top-nav #main-body-content-toggler {
    display: none !important;
  }
  #main-header nav .bottom-nav .bottom-nav-items {
    display: none !important;
  }
  #main-header nav .bottom-nav .dropdown {
    display: block !important;
  }
  .container {
    padding: 0 15px;
  }
  .welcome-wrapper .welcome-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
  }
  .banner-content-wrapper .banner-header {
    width: 100%;
    max-width: 140px;
  }
  .product-evolution-wrapper .product-evalution-card-wrapper .product-evalution-card .product-evalution-image-wrapper img {
    width: 100%;
    max-width: 40px;
  }
  .our-preferences-wrapper .our-preferences-content-wrapper .our-preferences-item {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .chat-container {
    bottom: 10%;
    right: 5%;
  }
  .mobile-bottom-menu-wrapper {
    display: block;
  }
  .chat-container .chat-btn img {
    width: 30px;
    height: 30px;
  }
  .chat-container .chat-button-content {
    max-width: 200px;
    height: 250px;
  }
  .mobile-catalog {
    display: block;
  }
  header#main-header nav .top-nav {
    justify-content: center;
  }
  header#main-header nav .top-nav .enter-wrapper .overlay .modal-image-1 {
    max-width: 300px;
  }
  header#main-header nav .top-nav .enter-wrapper .overlay .modal-image-2 {
    max-width: 300px;
  }
  .welcome-wrapper .welcome-content {
    padding: 10px 0;
  }
  .welcome-wrapper .welcome-content img {
    max-width: 140px;
  }
  .main-slider-wrapper .slider {
    height: 500px;
  }
  .main-slider-wrapper .thumbnail .item {
    width: 100px;
    height: 110px;
  }
  .online-assessment-wrapper .form-wrapper form .input-wrapper .phone-number-assessment-input-wrapper input {
    padding: 0 5px;
    width: 100%;
  }
  .online-assessment-wrapper .form-wrapper form .input-wrapper .send-action-wrapper button {
    width: 100%;
  }
  .online-assessment-wrapper .form-wrapper form .sms-action-wrapper {
    width: 100%;
  }
  .product-evolution-wrapper .product-evalution-card-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    padding: 0 50px;
  }
  .banner-content-wrapper {
    height: 250px;
  }
  .slider-wrapper .carousel-content-wrapper {
    margin: 0;
  }
  .slider-wrapper .carousel-content-wrapper .carousel-description {
    margin-bottom: 10px;
  }
  .carousel-wrapper {
    padding: 10px 0;
  }
  .carousel-wrapper .owl-carousel .owl-nav .owl-prev span {
    font-size: 50px;
    top: 33%;
    left: 50%;
  }
  .carousel-wrapper .owl-carousel .owl-nav .owl-next span {
    font-size: 50px;
    top: 33%;
    left: 55%;
  }
  .our-preferences-wrapper .our-preferences-item .our-perferences-image-wrapper {
    padding: 10px;
  }
  .our-preferences-wrapper .our-preferences-item .our-perferences-image-wrapper img {
    max-width: 30px;
  }
  .footer-top-wrapper .footer-social-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer-top-wrapper .footer-about-us-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer-top-wrapper .footer-contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 5px;
  }
  header#main-header nav .bottom-nav .bottom-nav-items {
    gap: 0px 30px;
  }
  .chat-container .chat-wrapper .chat-btn-content {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    width: 100%;
    max-width: 280px;
    height: 325px;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    display: none;
  }
}