* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

::placeholder {
  color: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 100px;
}

header#main-header {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 2;
  width: 100%;
}
header#main-header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 0;
}
header#main-header nav .top-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 10.2px 0;
}
header#main-header nav .top-nav #main-body-content-toggler {
  display: inline-block;
  cursor: pointer;
}
header#main-header nav .top-nav #main-body-content-toggler img {
  width: 40px;
  height: 40px;
}
header#main-header nav .top-nav .logo-wrapper img {
  width: 60px;
}
header#main-header nav .top-nav .location-wrapper {
  cursor: pointer;
  position: relative;
}
header#main-header nav .top-nav .location-wrapper .selected-location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
header#main-header nav .top-nav .location-wrapper .selected-location img {
  width: 30px;
}
header#main-header nav .top-nav .location-wrapper .selected-location .location-city {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  gap: 0;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 400;
  line-height: 20px;
  color: rgb(43, 43, 43);
  margin: 0;
}
header#main-header nav .top-nav .location-wrapper .selected-location .location-city span {
  color: rgba(43, 43, 43, 0.5);
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content {
  display: none;
  position: absolute;
  z-index: 3;
  top: 40px;
  box-shadow: 0 8px 16px lightgray;
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  gap: 0;
  font-size: clamp(14px, 1.5vw, 18px);
  font-weight: 400;
  padding: 0px 20px;
  background-color: rgb(255, 255, 255);
  margin: 0;
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city span {
  color: rgba(43, 43, 43, 0.5);
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 140, 238);
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city:hover span {
  color: rgb(0, 140, 238);
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city:first-child {
  padding-top: 10px;
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city:last-child {
  padding-bottom: 10px;
}
header#main-header nav .top-nav .location-wrapper:hover .locations-dropdown-content {
  display: block;
}
header#main-header nav .top-nav .search-wrapper {
  width: 100%;
  max-width: 1011px;
  position: relative;
}
header#main-header nav .top-nav .search-wrapper input {
  background-color: rgba(97, 190, 255, 0.5);
  border-radius: 15px;
  height: 50px;
  padding: 0 60px 0 50px;
}
header#main-header nav .top-nav .search-wrapper input::placeholder {
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 400;
  color: rgba(43, 43, 43, 0.5);
}
header#main-header nav .top-nav .search-wrapper input:focus {
  border: none;
  box-shadow: 0 0 0 0.1rem rgb(0, 140, 238);
}
header#main-header nav .top-nav .search-wrapper span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  background-color: rgb(0, 140, 238);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  top: 0.8px;
  right: -2px;
  height: 50px;
  padding: 0 12px;
  cursor: pointer;
}
header#main-header nav .top-nav .search-wrapper span img {
  width: 28px;
}
header#main-header nav .top-nav .dropdown {
  transition: 0s !important;
}
header#main-header nav .top-nav .dropdown .dropdown-toggle {
  background-color: transparent;
  padding: 0;
  border: none;
}
header#main-header nav .top-nav .dropdown .dropdown-toggle img {
  width: 45px;
}
header#main-header nav .top-nav .dropdown .dropdown-toggle::after {
  display: none;
}
header#main-header nav .top-nav .dropdown .dropdown-menu {
  --bs-dropdown-min-width: 5rem;
}
header#main-header nav .top-nav .dropdown .dropdown-menu li .dropdown-item img {
  width: 45px;
}
header#main-header nav .top-nav .dropdown .dropdown-menu.show {
  transform: translate(-15px, 50px) !important;
}
header#main-header nav .top-nav .add-to-cart-wrapper img {
  width: 40px;
}
header#main-header nav .top-nav .enter-wrapper .enter-title {
  font-size: clamp(14px, 2vw, 22px);
  font-weight: 500;
  color: rgb(43, 43, 43);
  margin: 0;
}
header#main-header nav .line {
  width: 100%;
  border-top: 1px solid rgba(43, 43, 43, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
}
header#main-header nav .bottom-nav .bottom-nav-items {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  gap: 10px 30px;
  padding: 0;
  margin: 10px 0;
}
header#main-header nav .bottom-nav .bottom-nav-items .item a {
  font-size: clamp(14px, 1.3vw, 18px);
  font-weight: 400;
  color: rgb(43, 43, 43);
}

#main-body-content {
  padding: 150px 0;
}
#main-body-content .main-content-wrapper .left-menu {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: fixed;
  top: 80px;
  background-color: white;
  z-index: 999;
  left: 0;
  height: calc(100vh - 80px);
  transform: translateX(-100%);
  transition: all 0.3s;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item > a {
  color: rgba(43, 43, 43, 0.5);
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 10px;
}
#main-body-content .main-content-wrapper .left-menu span:last-child {
  opacity: 0;
}
#main-body-content .main-content-wrapper .left-menu.show-left-menu {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  width: 30%;
  height: calc(100vh - 80px);
  transform: translateX(0);
}
#main-body-content .main-content-wrapper .left-menu.show-left-menu span:last-child {
  opacity: 1;
}
#main-body-content .main-content {
  background-color: rgb(255, 255, 255);
  width: 100%;
}
@media (max-width: 992px) {
  #main-body-content .main-content-wrapper .left-menu.show-left-menu {
    width: 40%;
  }
}
@media (max-width: 768px) {
  #main-body-content .main-content-wrapper .left-menu.show-left-menu {
    width: 50%;
  }
}
@media (max-width: 450px) {
  #main-body-content .main-content-wrapper .left-menu.show-left-menu {
    width: 100%;
  }
}

.footer-top-wrapper {
  background-color: rgb(0, 140, 238);
  padding: 80px 0;
}
.footer-top-wrapper .footer-logo-wrapper img {
  width: 100%;
  max-width: 250px;
}
.footer-top-wrapper .footer-social-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.footer-top-wrapper .footer-social-wrapper a {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 10px;
}
.footer-top-wrapper .footer-social-wrapper a img {
  width: 100%;
}
.footer-top-wrapper .footer-about-us-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.footer-top-wrapper .footer-about-us-wrapper .about-us-title {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: clamp(20px, 3vw, 28px);
  font-weight: 500;
}
.footer-top-wrapper .footer-about-us-wrapper .about-us-title:hover {
  color: rgb(43, 43, 43);
}
.footer-top-wrapper .footer-contact-wrapper {
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  gap: 20px;
}
.footer-top-wrapper .footer-contact-wrapper .contact-title {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: clamp(20px, 3vw, 28px);
  font-weight: 500;
}
.footer-top-wrapper .footer-contact-wrapper .phone-number {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 400;
}
.footer-top-wrapper .footer-contact-wrapper a {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 400;
}
.footer-top-wrapper .footer-contact-wrapper a:hover {
  color: rgb(43, 43, 43);
}
.footer-top-wrapper .footer-contact-wrapper .address {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 400;
}

.footer-bottom-wrapper {
  padding: 15px 0;
}
.footer-bottom-wrapper .footer-bottom-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.footer-bottom-wrapper .footer-bottom-content-wrapper p {
  margin: 0;
  color: rgba(43, 43, 43, 0.5);
  font-size: clamp(14px, 2vw, 20px);
  font-weight: 400;
}
.footer-bottom-wrapper .footer-bottom-content-wrapper p a {
  color: rgb(43, 43, 43);
  font-size: clamp(14px, 2vw, 20px);
  font-weight: 500;
}

.online-assessment-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
  box-shadow: 8px 8px 50px 0px rgba(0, 140, 238, 0.2) inset;
  margin: 30px 0;
  padding: 30px;
  border-radius: 24px;
}
.online-assessment-wrapper .assessment-header-wrapper .online-assessment-header {
  font-size: clamp(22px, 4vw, 56px);
  font-weight: 500;
  text-align: center;
}
.online-assessment-wrapper .assessment-header-wrapper .online-assessment-description {
  font-size: clamp(16px, 3vw, 36px);
  font-weight: 400;
  width: 100%;
  max-width: 818px;
  text-align: center;
}
.online-assessment-wrapper .form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  flex-wrap: nowrap;
  gap: 10px;
}
.online-assessment-wrapper .form-wrapper form {
  width: 100%;
  max-width: 854px;
}
.online-assessment-wrapper .form-wrapper form .input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 10px;
}
.online-assessment-wrapper .form-wrapper form .input-wrapper label {
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 500;
  color: rgb(43, 43, 43);
  margin-left: 20px;
}
.online-assessment-wrapper .form-wrapper form .input-wrapper input {
  padding: 10px 30px;
  max-width: 854px;
}
.online-assessment-wrapper .form-wrapper .assessment-btn {
  border: transparent;
  background-color: rgb(206, 53, 81);
  padding: 8px 30px;
  border-radius: 0.375rem;
  color: rgb(255, 255, 255);
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 400;
}

.banner-content-wrapper {
  background-image: url("/assets/images/home/sale-banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  position: relative;
}
.banner-content-wrapper .banner-header {
  position: absolute;
  bottom: 20%;
  font-size: clamp(14px, 3.5vw, 36px);
  font-weight: 400;
  width: 100%;
  max-width: 300px;
  margin: 0;
}
.banner-content-wrapper span {
  font-size: clamp(14px, 3.5vw, 46px);
  font-weight: 500;
}

.slider-wrapper {
  margin: 40px 0;
}
.slider-wrapper .carousel-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  margin: 0 0 20px 0;
}
.slider-wrapper .carousel-content-wrapper .carousel-header {
  font-size: clamp(22px, 4vw, 56px);
  font-weight: 700;
  color: rgb(0, 140, 238);
  text-align: center;
  margin: 0;
}
.slider-wrapper .carousel-content-wrapper .carousel-description {
  font-size: clamp(16px, 3vw, 36px);
  font-weight: 400;
  color: rgb(43, 43, 43);
  text-align: center;
  margin-bottom: 50px;
}

.carousel-wrapper {
  padding: 40px 0;
}
.carousel-wrapper .owl-carousel {
  position: relative;
}
.carousel-wrapper .owl-carousel .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.3) inset;
  border-radius: 26px;
  width: 100%;
  max-width: 450px;
  aspect-ratio: 350/420;
  height: auto;
}
.carousel-wrapper .owl-carousel .item img {
  padding: 10px 30px 0;
}
.carousel-wrapper .owl-carousel .item .swiper-item-title {
  font-size: clamp(14px, 3vw, 28px);
  font-weight: 400;
  margin: 0;
  text-align: center;
  padding: 0 20px 30px;
}
.carousel-wrapper .owl-carousel .owl-nav .owl-prev {
  font-size: clamp(14px, 2.5vw, 26px);
  font-weight: 500;
  background-color: rgb(206, 53, 81);
  border-radius: 50%;
  padding: 5px 20px 10px !important;
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  left: 0;
}
.carousel-wrapper .owl-carousel .owl-nav .owl-next {
  font-size: clamp(14px, 2.5vw, 26px);
  font-weight: 500;
  background-color: rgb(206, 53, 81);
  border-radius: 50%;
  padding: 5px 20px 10px !important;
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  right: 0;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block !important;
}

.product-evolution-wrapper {
  margin: 40px 0;
}
.product-evolution-wrapper .product-evalution-header {
  font-size: clamp(22px, 4vw, 56px);
  font-weight: 700;
  color: rgb(0, 140, 238);
  text-align: center;
  margin: 0 0 50px 0;
}
.product-evolution-wrapper .product-evalution-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 50px;
}
.product-evolution-wrapper .product-evalution-card-wrapper .product-evalution-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 35px 25px;
  border-radius: 26px;
  position: relative;
}
.product-evolution-wrapper .product-evalution-card-wrapper .product-evalution-card .product-evalution-image-wrapper {
  background-color: rgba(97, 190, 255, 0.5);
  border-radius: 50%;
  padding: 20px;
}
.product-evolution-wrapper .product-evalution-card-wrapper .product-evalution-card .product-evalution-image-wrapper img {
  width: 100%;
  max-width: 80px;
}
.product-evolution-wrapper .product-evalution-card-wrapper .product-evalution-card a {
  font-size: clamp(14px, 2vw, 24px);
  font-weight: 500;
  color: rgb(43, 43, 43);
  text-align: center;
}
.product-evolution-wrapper .product-evalution-card-wrapper .product-evalution-card a::after {
  content: "";
  position: absolute;
  inset: 0;
}
.product-evolution-wrapper .product-evalution-card-wrapper .product-evalution-card:hover {
  box-shadow: 2px 2px 10px 0px rgba(0, 140, 238, 0.2);
  transform: scale(1.03);
}

.our-preferences-wrapper .our-preferences-header-wrapper {
  padding: 40px 0;
}
.our-preferences-wrapper .our-preferences-header-wrapper .our-preferences-header {
  color: rgb(0, 140, 238);
  text-align: center;
  font-size: clamp(22px, 4vw, 56px);
  font-weight: 700;
}
.our-preferences-wrapper .our-preferences-header-wrapper .our-preferences-description {
  color: rgb(43, 43, 43);
  text-align: center;
  font-size: clamp(16px, 3vw, 36px);
  font-weight: 400;
}
.our-preferences-wrapper .our-preferences-item {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.our-preferences-wrapper .our-preferences-item .preferences-green {
  background-color: rgb(0, 238, 52);
  border-radius: 50%;
  padding: 13.5px;
}
.our-preferences-wrapper .our-preferences-item .preferences-green img {
  width: 60px;
}
.our-preferences-wrapper .our-preferences-item .preferences-red {
  background-color: rgb(206, 53, 81);
  border-radius: 50%;
  padding: 13.5px;
}
.our-preferences-wrapper .our-preferences-item .preferences-red img {
  width: 60px;
}
.our-preferences-wrapper .our-preferences-item .preferences-orange {
  background-color: rgb(238, 157, 0);
  border-radius: 50%;
  padding: 13.5px;
}
.our-preferences-wrapper .our-preferences-item .preferences-orange img {
  width: 60px;
}
.our-preferences-wrapper .our-preferences-item .preferences-purple {
  background-color: rgb(205, 0, 238);
  border-radius: 50%;
  padding: 13.5px;
}
.our-preferences-wrapper .our-preferences-item .preferences-purple img {
  width: 60px;
}
.our-preferences-wrapper .our-preferences-item .our-perferences-item-title {
  margin: 0;
  color: rgb(43, 43, 43);
  font-size: clamp(14px, 2vw, 22px);
  font-weight: 500;
}

@media (max-width: 1400px) {
  .banner-content-wrapper {
    height: 600px;
  }
  .product-evolution-wrapper .product-evalution-card-wrapper .product-evalution-card .product-evalution-image-wrapper img {
    width: 100%;
    max-width: 60px;
  }
}
@media (max-width: 1200px) {
  .container {
    padding: 0 70px;
  }
  .banner-content-wrapper {
    height: 600px;
  }
  .footer-top-wrapper .footer-about-us-wrapper {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer-top-wrapper .footer-contact-wrapper {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media (max-width: 992px) {
  .container {
    padding: 0 50px;
  }
  .banner-content-wrapper {
    height: 380px;
  }
  .our-preferences-wrapper .our-preferences-item {
    padding: 10px 0;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  .online-assessment-wrapper .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    flex-wrap: nowrap;
    gap: 10px;
  }
  .banner-content-wrapper .banner-header {
    width: 100%;
    max-width: 200px;
  }
  .product-evolution-wrapper .product-evalution-card-wrapper .product-evalution-card .product-evalution-image-wrapper img {
    width: 100%;
    max-width: 40px;
  }
  .our-preferences-wrapper .our-preferences-item {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .banner-content-wrapper {
    height: 250px;
  }
  .slider-wrapper .carousel-content-wrapper {
    margin: 0;
  }
  .slider-wrapper .carousel-content-wrapper .carousel-description {
    margin-bottom: 10px;
  }
  .carousel-wrapper {
    padding: 10px 0;
  }
  .our-preferences-wrapper .our-preferences-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
  }
  .footer-top-wrapper .footer-logo-wrapper {
    text-align: center;
  }
  .footer-top-wrapper .footer-social-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer-top-wrapper .footer-about-us-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer-top-wrapper .footer-contact-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}