* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

::placeholder {
  color: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 100px;
}

header#main-header {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 101;
  width: 100%;
}
header#main-header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 0;
}
header#main-header nav .top-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 25px;
  padding: 10.2px 0;
}
header#main-header nav .top-nav #main-body-content-toggler {
  display: inline-block;
  cursor: pointer;
}
header#main-header nav .top-nav #main-body-content-toggler img {
  width: 40px;
  height: 40px;
}
header#main-header nav .top-nav .logo-wrapper a img {
  width: 100%;
  max-width: 60px;
}
header#main-header nav .top-nav .location-wrapper {
  cursor: pointer;
  position: relative;
}
header#main-header nav .top-nav .location-wrapper .selected-location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
header#main-header nav .top-nav .location-wrapper .selected-location img {
  width: 30px;
}
header#main-header nav .top-nav .location-wrapper .selected-location .location-city {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  gap: 0;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 400;
  line-height: 20px;
  color: rgb(43, 43, 43);
  margin: 0;
}
header#main-header nav .top-nav .location-wrapper .selected-location .location-city span {
  color: rgba(43, 43, 43, 0.5);
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content {
  display: none;
  position: absolute;
  z-index: 3;
  top: 40px;
  box-shadow: 0 8px 16px lightgray;
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  gap: 0;
  font-size: clamp(14px, 1.5vw, 18px);
  font-weight: 400;
  padding: 0px 20px;
  background-color: rgb(255, 255, 255);
  margin: 0;
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city span {
  color: rgba(43, 43, 43, 0.5);
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 140, 238);
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city:hover span {
  color: rgb(0, 140, 238);
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city:first-child {
  padding-top: 10px;
}
header#main-header nav .top-nav .location-wrapper .locations-dropdown-content .location-city:last-child {
  padding-bottom: 10px;
}
header#main-header nav .top-nav .location-wrapper:hover .locations-dropdown-content {
  display: block;
}
header#main-header nav .top-nav .search-wrapper {
  width: 100%;
  max-width: 1011px;
  position: relative;
}
header#main-header nav .top-nav .search-wrapper input {
  background-color: rgba(97, 190, 255, 0.5);
  border-radius: 15px;
  height: 50px;
  padding: 0 60px 0 50px;
}
header#main-header nav .top-nav .search-wrapper input::placeholder {
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 400;
  color: rgba(43, 43, 43, 0.5);
}
header#main-header nav .top-nav .search-wrapper input:focus {
  border: none;
  box-shadow: 0 0 0 0.1rem rgb(0, 140, 238);
}
header#main-header nav .top-nav .search-wrapper span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  background-color: rgb(0, 140, 238);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  top: 0.8px;
  right: -2px;
  height: 48px;
  padding: 0 12px;
  cursor: pointer;
}
header#main-header nav .top-nav .search-wrapper button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
}
header#main-header nav .top-nav .search-wrapper button img {
  width: 28px;
}
header#main-header nav .top-nav .dropdown {
  transition: 0s !important;
}
header#main-header nav .top-nav .dropdown .dropdown-toggle {
  background-color: transparent;
  padding: 0;
  border: none;
}
header#main-header nav .top-nav .dropdown .dropdown-toggle img {
  width: 45px;
}
header#main-header nav .top-nav .dropdown .dropdown-toggle::after {
  display: none;
}
header#main-header nav .top-nav .dropdown .dropdown-menu {
  --bs-dropdown-min-width: 5rem;
}
header#main-header nav .top-nav .dropdown .dropdown-menu li .dropdown-item img {
  width: 45px;
}
header#main-header nav .top-nav .dropdown .dropdown-menu.show {
  transform: translate(-15px, 50px) !important;
}
header#main-header nav .top-nav .add-to-cart-wrapper {
  position: relative;
}
header#main-header nav .top-nav .add-to-cart-wrapper img {
  width: 40px;
}
header#main-header nav .top-nav .add-to-cart-wrapper .cart-count {
  position: absolute;
  top: -5px;
  right: -15px;
  background-color: rgb(206, 53, 81);
  border-radius: 12px;
  padding: 1px 10px;
  color: rgb(255, 255, 255);
  font-size: clamp(10px, 1.5vw, 14px);
  font-weight: 400;
}
header#main-header nav .top-nav .enter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  transition: 0.3s ease;
}
header#main-header nav .top-nav .enter-wrapper .enter-title {
  font-size: clamp(14px, 2vw, 22px);
  font-weight: 500;
  color: rgb(43, 43, 43);
  margin: 0;
}
header#main-header nav .top-nav .enter-wrapper .hidden {
  display: none;
}
header#main-header nav .top-nav .enter-wrapper .overlay {
  position: fixed;
  top: 80.35px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 140, 238);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
header#main-header nav .top-nav .enter-wrapper .overlay .modal-image-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 500px;
}
header#main-header nav .top-nav .enter-wrapper .overlay .modal-image-1 img {
  width: 100%;
  object-fit: cover;
}
header#main-header nav .top-nav .enter-wrapper .overlay .modal-image-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 500px;
}
header#main-header nav .top-nav .enter-wrapper .overlay .modal-image-2 img {
  width: 100%;
  object-fit: cover;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal {
  position: fixed;
  width: calc(100% - 40px);
  max-width: 540px;
  background-color: #f4f4f4;
  padding: 15px 40px;
  border-radius: 8px;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  z-index: 102;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .close-btn {
  border: none;
  width: 100%;
  margin-top: 15px;
  cursor: unset;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .close-btn i {
  font-size: 18px;
  cursor: pointer;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-header h3 {
  font-size: clamp(24px, 4vw, 35px);
  font-weight: 500;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form {
  width: 100%;
  margin: 25px auto;
  border-radius: 10px;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .form-control-wrapper {
  margin: 10px 0;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .form-control-wrapper > * {
  display: block;
  width: 100%;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .form-control-wrapper label {
  margin-left: 10px;
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 400;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .form-control-wrapper input {
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: rgba(97, 190, 255, 0.5);
  border-radius: 8px;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .form-control-wrapper input:focus {
  background-color: snow;
  outline: 3px solid rgba(0, 255, 255, 0.3);
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .form-control-wrapper input::placeholder {
  color: gray;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .form-control-wrapper button {
  outline: none;
  border: none;
  padding: 10px 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 250px;
  background-color: rgb(206, 53, 81);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: clamp(15px, 2vw, 22px);
  font-weight: 400;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .form-control-wrapper .error {
  font-size: small;
  text-align: center;
  color: red;
  font-style: italic;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .password-wrapper {
  position: relative;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .password-wrapper span {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 53%;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal .modal-body form .forgot-password {
  display: block;
  text-align: end;
  color: rgb(206, 53, 81);
  font-size: clamp(15px, 1.5vw, 18px);
  font-weight: 500;
}
header#main-header nav .top-nav .enter-wrapper .overlay.visible {
  opacity: 1;
  visibility: visible;
}
header#main-header nav .top-nav .enter-wrapper .enter-modal.visible {
  opacity: 1;
}
header#main-header nav .line {
  width: 100%;
  border-top: 1px solid rgba(43, 43, 43, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
}
header#main-header nav .bottom-nav {
  display: none;
  margin: 10px 0;
}
header#main-header nav .bottom-nav .bottom-nav-items {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  gap: 10px 30px;
  padding: 0;
  margin: 10px 0;
}
header#main-header nav .bottom-nav .bottom-nav-items .item a {
  font-size: clamp(11px, 1.3vw, 18px);
  font-weight: 400;
  color: rgb(43, 43, 43);
}
header#main-header nav .bottom-nav .dropdown {
  display: none;
}
header#main-header nav .bottom-nav .dropdown button {
  width: 100%;
  background-color: transparent;
  color: rgb(0, 140, 238);
  border-color: rgb(0, 140, 238);
}
header#main-header nav .bottom-nav .dropdown .dropdown-menu.show {
  width: 100%;
}
header#main-header nav .bottom-nav .dropdown:focus {
  box-shadow: 0 0 0 0.05rem rgba(13, 110, 253, 0.25);
}

#main-body-content .main-content-wrapper .left-menu {
  background-color: rgb(255, 255, 255);
  overflow: auto;
  position: fixed;
  top: 80px;
  background-color: white;
  z-index: 999;
  left: 0;
  height: calc(100vh - 80px);
  transform: translateX(-100%);
  transition: all 0.3s;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item > a {
  color: #2b2b2b;
  padding: 10px;
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item > a.active {
  background-color: rgb(0, 140, 238);
  color: rgb(255, 255, 255);
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item > a.active img {
  filter: brightness(10);
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item > .nav-drp-content {
  display: none;
  overflow: hidden;
  max-height: 0;
  background-color: #f4f4f4;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item > .nav-drp-content a {
  display: block;
  color: rgb(43, 43, 43);
  padding: 10px 20px 10px 60px;
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 400;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item > .nav-drp-content a::before {
  content: " ";
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item > .nav-drp-content a:hover {
  background-color: lightgray;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item a.nav-drp-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item a.nav-drp-button .left-menu-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item a.nav-drp-button .left-menu-icon .arrow {
  transition: 0.5s;
  display: inline-block;
  margin-left: 10px;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item .user-name-wrapper {
  padding: 20px 0;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item .user-name-wrapper .user-name {
  margin: 0;
  font-size: clamp(18px, 4vw, 26px);
  font-weight: 500;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-item .user-name-wrapper .user-summ {
  margin: 0;
  color: rgb(206, 53, 81);
  font-size: clamp(14px, 1.5vw, 18px);
  font-weight: 500;
}
#main-body-content .main-content-wrapper .left-menu .user-menu-item {
  border-bottom: 1px solid rgb(43, 43, 43);
  border-top: 1px solid rgb(43, 43, 43);
}
#main-body-content .main-content-wrapper .left-menu span:last-child {
  opacity: 0;
}
#main-body-content .main-content-wrapper .left-menu.show-left-menu {
  border-right: 1px solid rgb(245, 245, 245);
  width: 30%;
  height: calc(100vh - 80px);
  transform: translateX(0);
}
#main-body-content .main-content-wrapper .left-menu.show-left-menu span:last-child {
  opacity: 1;
}
#main-body-content .main-content-wrapper .left-menu .search-wrapper {
  width: 100%;
  position: relative;
  padding: 10px 5px;
  display: none;
  margin-top: 10px;
  border-top: 1px solid rgb(245, 245, 245);
}
#main-body-content .main-content-wrapper .left-menu .search-wrapper input {
  background-color: rgba(97, 190, 255, 0.5);
  border-radius: 15px;
  height: 50px;
}
#main-body-content .main-content-wrapper .left-menu .search-wrapper input::placeholder {
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 400;
  color: rgba(43, 43, 43, 0.5);
}
#main-body-content .main-content-wrapper .left-menu .search-wrapper input:focus {
  border: none;
  box-shadow: 0 0 0 0.1rem rgb(0, 140, 238);
}
#main-body-content .main-content-wrapper .left-menu .search-wrapper span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  background-color: rgb(0, 140, 238);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  top: 10.8px;
  right: 7px;
  height: 48px;
  padding: 0 12px;
  cursor: pointer;
}
#main-body-content .main-content-wrapper .left-menu .search-wrapper span img {
  width: 28px;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-language {
  display: none;
}
#main-body-content .main-content-wrapper .left-menu .left-menu-language .language-menu {
  display: flex;
  justify-content: start;
  padding: 0;
  margin: 10px;
  align-items: center;
  gap: 20px;
}
#main-body-content .main-content {
  background-color: rgb(255, 255, 255);
  width: 100%;
}
@media (max-width: 992px) {
  #main-body-content .main-content-wrapper .left-menu.show-left-menu {
    width: 40%;
  }
}
@media (max-width: 768px) {
  #main-body-content .main-content-wrapper .left-menu.show-left-menu {
    width: 55%;
  }
}
@media (max-width: 450px) {
  #main-body-content .main-content-wrapper .left-menu.show-left-menu {
    width: 100%;
  }
}

.footer-top-wrapper {
  background-color: rgb(0, 140, 238);
  padding: 80px 0;
}
.footer-top-wrapper .footer-logo-wrapper img {
  width: 100%;
  max-width: 250px;
}
.footer-top-wrapper .footer-social-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.footer-top-wrapper .footer-social-wrapper a {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 10px;
}
.footer-top-wrapper .footer-social-wrapper a img {
  width: 100%;
}
.footer-top-wrapper .footer-about-us-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.footer-top-wrapper .footer-about-us-wrapper .about-us-title {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: clamp(20px, 3vw, 28px);
  font-weight: 500;
}
.footer-top-wrapper .footer-about-us-wrapper .about-us-title:hover {
  color: rgb(43, 43, 43);
}
.footer-top-wrapper .footer-contact-wrapper {
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  gap: 20px;
}
.footer-top-wrapper .footer-contact-wrapper .contact-title {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: clamp(20px, 3vw, 28px);
  font-weight: 500;
}
.footer-top-wrapper .footer-contact-wrapper .phone-number {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 400;
}
.footer-top-wrapper .footer-contact-wrapper a {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 400;
}
.footer-top-wrapper .footer-contact-wrapper a:hover {
  color: rgb(43, 43, 43);
}
.footer-top-wrapper .footer-contact-wrapper .address {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 400;
}

.footer-bottom-wrapper {
  padding: 15px 0 100px;
}
.footer-bottom-wrapper .footer-bottom-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.footer-bottom-wrapper .footer-bottom-content-wrapper p {
  margin: 0;
  color: rgba(43, 43, 43, 0.5);
  font-size: clamp(14px, 2vw, 20px);
  font-weight: 400;
}
.footer-bottom-wrapper .footer-bottom-content-wrapper p a {
  color: rgb(43, 43, 43);
  font-size: clamp(14px, 2vw, 20px);
  font-weight: 500;
}

@media (max-width: 576px) {
  .footer-top-wrapper {
    padding: 20px 0;
  }
}
#register-wrapper {
  height: 100vh;
  background-color: rgb(0, 140, 238);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
#register-wrapper .register-form-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
#register-wrapper .register-form-wrapper .form-wrapper {
  width: 100%;
  max-width: 1066px;
  padding: 40px 40px;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
}
#register-wrapper .register-form-wrapper .form-wrapper .register-form-header {
  text-align: center;
  font-size: clamp(22px, 4vw, 56px);
  font-weight: 500;
}
#register-wrapper .register-form-wrapper .form-wrapper form {
  margin: 40px 0;
}
#register-wrapper .register-form-wrapper .form-wrapper form .form-control-wrapper {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}
#register-wrapper .register-form-wrapper .form-wrapper form .form-control-wrapper label {
  margin-left: 15px;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 500;
}
#register-wrapper .register-form-wrapper .form-wrapper form .form-control-wrapper input {
  height: 60px;
}
#register-wrapper .register-form-wrapper .form-wrapper form .form-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
#register-wrapper .register-form-wrapper .form-wrapper form .form-btn button {
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  background-color: rgb(206, 53, 81);
  color: rgb(255, 255, 255);
  transition: 0.5s ease;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 400;
}
#register-wrapper .register-form-wrapper .form-wrapper form .form-btn button:hover {
  background-color: rgb(0, 140, 238);
}
#register-wrapper .register-form-wrapper .form-wrapper form .form-btn a {
  color: rgb(206, 53, 81);
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 500;
}
#register-wrapper .register-form-wrapper .form-wrapper form .form-btn a:hover {
  color: rgb(0, 140, 238);
}
#register-wrapper .form-image-1 {
  position: absolute;
  top: 10%;
  left: 0;
}
#register-wrapper .form-image-1 img {
  width: 100%;
  max-width: 500px;
}
#register-wrapper .form-image-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
#register-wrapper .form-image-2 img {
  width: 100%;
  max-width: 500px;
}

.register-sms-wrapper {
  width: 100%;
  max-width: 1066px;
}
.register-sms-wrapper .bgWhite {
  background: white;
  box-shadow: 0px 3px 6px 0px #cacaca;
  border-radius: 16px;
}
.register-sms-wrapper .bgWhite .sms-form-wrapper .title {
  margin-top: 20px;
  color: rgb(43, 43, 43);
  font-size: clamp(22px, 3vw, 36px);
  font-weight: 500;
}
.register-sms-wrapper .bgWhite .sms-form-wrapper form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: 15px;
  gap: 10px;
}
.register-sms-wrapper .bgWhite .sms-form-wrapper form input {
  display: inline-block;
  width: 58px;
  height: 73px;
  text-align: center;
  border-radius: 2px;
  border: none;
  background-color: rgba(97, 190, 255, 0.5);
}
.register-sms-wrapper .bgWhite .sms-form-wrapper .customBtn {
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
  background-color: rgb(0, 140, 238);
  color: rgb(255, 255, 255);
  transition: 0.5s ease;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 400;
}
.register-sms-wrapper .bgWhite .sms-form-wrapper .customBtn:hover {
  color: rgb(0, 140, 238);
  background-color: rgba(97, 190, 255, 0.5);
}

.swal2-popup {
  height: 250px;
  width: 100%;
  max-width: 730px;
  aspect-ratio: 710/356;
}
.swal2-popup .swal2-title {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  font-size: clamp(20px, 2vw, 28px);
  font-weight: 500;
}
.swal2-popup .swal2-html-container {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  font-size: clamp(20px, 2vw, 28px);
  font-weight: 500;
}
.swal2-popup .swal2-actions {
  gap: 10px;
  margin: 0;
}
.swal2-popup .swal2-actions .swal2-cancel {
  border: none;
  background-color: rgb(206, 53, 81);
}
.swal2-popup .swal2-actions .swal2-confirm {
  border: none;
  background-color: rgb(206, 53, 81);
}

.password-form {
  width: 100%;
  display: none;
}
.password-form form {
  width: 100%;
  max-width: 625px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.password-form form .form-control-password {
  width: 100%;
  max-width: 460px;
  position: relative;
  z-index: 1;
}
.password-form form .form-control-password label {
  margin-left: 13px;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 400;
}
.password-form form .form-control-password .password-input-wrapper {
  position: relative;
}
.password-form form .form-control-password .password-input-wrapper input {
  height: 50px;
  border-radius: 55px;
  background-color: rgba(97, 190, 255, 0.5);
  padding-left: 20px;
}
.password-form form .form-control-password .password-input-wrapper input:focus {
  box-shadow: none;
  outline: none;
}
.password-form form .form-control-password .password-input-wrapper input::placeholder {
  color: rgba(43, 43, 43, 0.5);
}
.password-form form .form-control-password .password-input-wrapper span {
  position: absolute;
  top: 25%;
  right: 5%;
}
.password-form form .form-control-password .password-input-wrapper span img {
  width: 18px;
  cursor: pointer;
}
.password-form form .form-control-password .error {
  text-align: center;
  color: rgb(206, 53, 81);
}
.password-form form .form-control-password button {
  background-color: rgb(206, 53, 81);
  padding: 10px 30px;
  border-radius: 8px;
  border: none;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.password-form form .form-control-password button:hover {
  background-color: rgb(0, 140, 238);
}

@media (max-width: 1200px) {
  .container {
    padding: 0 70px;
  }
}
@media (max-width: 992px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  #main-body-content .main-content-wrapper .left-menu .left-menu-language {
    display: block;
  }
}
@media (max-width: 658px) {
  #register-wrapper .form-image-1 {
    top: 15%;
  }
}
@media (max-width: 576px) {
  #register-wrapper .register-form-wrapper {
    margin-top: 80px;
  }
  #main-body-content .main-content-wrapper .left-menu .search-wrapper {
    display: block;
  }
}
@media (max-width: 366px) {
  #register-wrapper .form-image-1 {
    top: 20%;
  }
}