@import "../abstracts/variables";
@import "../abstracts/mixin";

header#main-header,
main#main-body-content {
}

header#main-header {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 100px;

  nav {
    @include flex(row, space-between, center, wrap);

    #main-body-content-toggler {
      display: inline-block;
      padding: 10px;
      background-color: lightgray;
      cursor: pointer;
    }
  }
}

#main-body-content {
  & > div {
    float: left;
  }

  .left-menu {
    width: 0;
    background-color: lightgray;
    overflow: hidden;

    & > a {
      @include flex(row, center, center);
    }

    span:last-child {
      opacity: 0;
    }

    &.show-left-menu {
      width: $left-menu-width;

      span:last-child {
        opacity: 1;
      }
    }
  }

  .main-content {
    background-color: darkgray;
    width: 100%;

    &.show-left-menu {
      width: calc(100% - $left-menu-width);
    }
  }
}
