@import "../global";

// cabinet table start
.cabinet-table {
  height: 100vh;
  background-color: $blue;
  padding-top: 200px;
  .cabinet-table-wrapper {
    background-color: $white;
    padding: 60px 30px;
    border-radius: 8px;
    h1 {
      margin-bottom: 30px;
    }
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 2px 2px 10px 0px rgba(34, 60, 80, 0.25);
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.product-not-found {
  color: $red;
  text-decoration: underline;
  @include fontSize(12px, 2vw, 17px, 500);
}
// cabinet table end

// cabinet-products start
.cabinet-products {
  height: auto;
  background-color: $blue;
  padding: 200px 0 100px;
  .cabinet-products-wrapper {
    background-color: $white;
    border-radius: 30px;
    padding: 60px 40px;
    .cabinet-card-header-title {
      margin-bottom: 30px;
      color: $black;
      @include fontSize(20px, 3vw, 36px, 600);
    }
    .product-not-found {
      margin-bottom: 20px;
    }
  }
  .card-container {
    display: flex;
    gap: 16px;
  }
  .card {
    background-color: $white;
    border-radius: 30px;
    box-shadow: 2px 5px 10px 0px rgba(34, 60, 80, 0.25);
    padding: 16px 22px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    @include flex(column, space-between, normal);
  }
  .card .trade-in {
    position: absolute;
    top: 10px;
    left: -28px;
    background-color: #ef4444;
    color: white;
    font-size: 17px;
    padding: 4px 25px;
    transform: rotate(-45deg);
  }
  .card .heart {
    position: absolute;
    top: 0;
    right: 0;
    color: #ef4444;
    font-size: 24px;
    padding: 3px 10px;
  }
  .card img {
    width: 100%;
    // height: 160px;
    height: auto;
    aspect-ratio: 1.5 / 1;
    object-fit: contain;
    margin-bottom: 16px;
  }
  .card h2 {
    color: $black;
    margin: 0 0 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    @include fontSize(15px, 1.8vw, 18px, 500);
  }
  .card .price {
    color: $blue;
    margin: 8px 0 0 8px;
    @include fontSize(15px, 2vw, 22px, 700);
  }
  .card .installment {
    border: 1px solid $red;
    border-radius: 30px;
    color: $red;
    margin-top: 8px;
    width: 100%;
    @include fontSize(13px, 1.5vw, 15px, 500);
    &:hover {
      background-color: $blue;
      border-color: $blue;
      color: $white;
    }
  }
}
// cabinet-products end

// cabinet location start
.cabinet-location {
  height: 100vh;
  background-color: $blue;
  padding: 200px 0 100px;
  .cabinet-location-wrapper {
    border-radius: 30px;
    padding: 60px 40px;
    background-color: $white;
    .cabinet-header-wrapper {
      @include flex(row, space-between, start, wrap);
      .cabinet-header-title {
        color: $black;
        @include fontSize(20px, 3vw, 36px, 600);
      }
      .location-not-found {
        color: $red;
        text-decoration: underline;
        @include fontSize(12px, 1.5vw, 18px, 400);
      }
      .location-btn {
        border-radius: 8px;
        border: none;
        background-color: $red;
        color: $white;
        padding: 10px 20px;
        @include fontSize(14px, 1.5vw, 17px, 500);
        transition: background 0.5s;
        &:hover {
          background-color: $blue;
        }
        &:focus-visible {
          border-color: transparent;
        }
      }
    }
    .cabinet-body-wrapper {
      // margin-top: 30px;
      .item {
        width: 100%;
        background-color: $white;
        box-shadow: 2px 5px 10px 0px rgba(34, 60, 80, 0.25);
        border-radius: 8px;
        padding: 10px 20px;
        margin-bottom: 20px;
        @include flex(row, space-between, center);
        .item-info {
          color: $black;
          @include fontSize(16px, 2vw, 20px, 500);
        }
        .item-delete-change-wrapper {
          @include flex(row, center, center);
          button {
            border-color: #f4f4f4;
            box-shadow: 2px 5px 10px 0px rgba(34, 60, 80, 0.25);
            border-radius: 8px;
            padding: 5px;
            background-color: $white;
            &:hover img {
              transform: scale(1.05);
              filter: contrast(200%);
            }
            &:hover {
              border-color: red;
            }
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
    // modal css
    .location-modal {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 600px;
      background-color: $white;
      padding: 35px;
      border-radius: 30px;
      box-shadow: 2px 5px 10px 0px rgba(34, 60, 80, 0.25);
      z-index: 105;
      .modal-header {
        margin-bottom: 20px;
        @include flex(row, space-between, center);
        h3 {
          margin: 0;
          color: $black;
          @include fontSize(20px, 3vw, 28px, 600);
        }
        .location-close-btn {
          color: $black;
          @include fontSize(16px, 2vw, 20px);
        }
      }
      form {
        @include flex(column, normal, normal);
        label {
          margin-bottom: 5px;
          color: $grey;
          padding-left: 10px;
          @include fontSize(13px, 2vw, 18px, 400);
        }
        input {
          @include fontSize(13px, 2vw, 18px, 400);
          &:focus {
            box-shadow: none;
          }
        }
        .save-btn {
          background-color: $red;
          color: $white;
          width: 100%;
          max-width: 250px;
          margin: 10px auto 0;
          @include fontSize(13px, 2vw, 18px, 400);
        }
      }
    }
  }
}
.location-hidden {
  display: none;
}
.location-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 101;
}
// cabinet location end

// cabinet limit start
.cabinet-limit {
  height: auto;
  background-color: $blue;
  padding: 200px 0 100px;
  .cabinet-limit-wrapper {
    width: 100%;
    height: 100vh;
    border-radius: 30px;
    padding: 60px 30px;
    background-color: $white;
    .limit-header-title-wrapper {
      .limit-header-title {
        color: $black;
        margin-bottom: 30px;
        @include fontSize(18px, 4vw, 46px, 500);
      }
    }
    .card-container {
      border-radius: 30px;
      padding: 20px;
      cursor: pointer;
      width: 100%;
      // height: 100%;
      box-shadow: 2px 5px 10px 0px rgba(34, 60, 80, 0.25);
      @include flex(column, space-around, center);
      .card-top-image {
        img {
          width: 100%;
          max-width: 241px;
          height: 135px;
          object-fit: contain;
        }
      }
      .card-bottom-content {
        .all-limit {
          margin-bottom: 0;
          color: $grey;
          @include fontSize(13px, 2vw, 18px, 400);
        }
        .limit-summ {
          margin-bottom: 0;
          color: $blue;
          @include fontSize(16px, 2vw, 22px, 700);
        }
        a {
          margin-bottom: 0;
          color: $red;
          @include fontSize(13px, 1.5vw, 15px, 400);
          span {
            @include fontSize(13px, 1.5vw, 15px, 500);
          }
        }
      }
    }
  }
  .limit-register-btn-wrapper {
    margin: 20px 0;
    @include flex(column, center, center);
    .for-get-limit {
      margin-bottom: 0;
      color: $grey;
      @include fontSize(13px, 2vw, 18px, 400);
      span {
        color: $red;
      }
    }
    a {
      border: 1px solid $red;
      color: $white;
      background-color: $red;
      padding: 10px 20px;
      border-radius: 16px;
    }
  }
}
// cabinet limit end

// cabinet setting start
.cabinet-profile-setting {
  height: 100vh;
  background-color: $blue;
  padding: 200px 0 100px;
  .cabinet-setting-wrapper {
    background-color: $white;
    border-radius: 30px;
    padding: 60px 30px;
    .cabinet-setting-header {
      color: $black;
      margin-bottom: 30px;
      @include fontSize(18px, 4vw, 46px, 500);
    }
    .cabinet-setting-box {
      height: 100%;
      background-color: $white;
      box-shadow: 2px 5px 10px 0px rgba(34, 60, 80, 0.25);
      border-radius: 30px;
      padding: 60px;
      .cabinet-profile-image-wrapper {
        img {
          width: 100%;
          max-width: 80px;
        }
        .change-profile-image {
          color: $red;
          cursor: pointer;
          @include fontSize(13px, 1.5vw, 16px, 400);
          &:hover {
            color: $blue;
          }
        }
      }
      .cabinet-form-wrapper {
        form {
          label {
            color: $grey;
            @include fontSize(13px, 1.5vw, 16px, 500);
          }
          .form-control {
            border: none;
            padding: 8px 5px;
            &:focus {
              box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
            }
            &::placeholder {
              color: $black;
              @include fontSize(13px, 1.5vw, 16px, 500);
            }
            .red-border:focus {
              border: none;
            }
          }
          .btn-setting {
            background-color: $red;
            color: $white;
            padding: 10px 20px;
            border: none;
            border-radius: 8px;
            @include fontSize(13px, 1.5vw, 16px, 400);
            &:hover {
              background-color: $blue;
            }
          }
        }
      }
    }
  }
}
// cabinet setting end

// responsive cabinet
@media (max-width: 1200px) {
  .container {
    padding: 0 70px;
  }
  .cabinet-products {
    .cabinet-products-wrapper {
      padding: 60px 25px;
      .card {
        padding: 15px;
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 50px;
  }
  .cabinet-products {
    .cabinet-products-wrapper {
      padding: 60px 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  #main-body-content .main-content-wrapper .left-menu .left-menu-language {
    display: block;
  }
  .cabinet-table {
    height: 100%;
  }
  table {
    border: 0;
    box-shadow: none;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
    border-radius: 18px;
    box-shadow: 2px 2px 10px 0px rgba(34, 60, 80, 0.1);
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    // font-weight: bold;
    text-transform: uppercase;
    @include fontSize(12px, 2vw, 22px, 700);
  }

  table td:last-child {
    border-bottom: 0;
  }
  .cabinet-products {
    height: 100%;
    .cabinet-products-wrapper {
      padding: 60px 20px;
    }
  }
  .cabinet-limit {
    .cabinet-limit-wrapper {
      height: 100%;
    }
  }
  .cabinet-limit {
    .cabinet-limit-wrapper {
      height: 100%;
    }
  }
  .cabinet-profile-setting {
    height: 100%;
  }
  .cabinet-profile-setting {
    .cabinet-setting-wrapper {
      padding: 50px 20px;
      .cabinet-setting-box {
        padding: 40px;
      }
    }
  }
  .cabinet-location {
    .cabinet-location-wrapper {
      padding: 40px 40px;
    }
  }
}

@media (max-width: 576px) {
  #main-body-content .main-content-wrapper .left-menu .search-wrapper {
    display: block;
  }
  .cabinet-profile-setting {
    .cabinet-setting-wrapper {
      .cabinet-setting-box {
        padding: 40px 20px;
      }
    }
  }
  .cabinet-location {
    .cabinet-location-wrapper {
      padding: 40px 20px;
      .cabinet-body-wrapper {
        margin-top: 30px;
        .item {
          .item-delete-change-wrapper {
            @include flex(column, center, center);
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .col-lg-5-custom {
    width: 20%;
  }
}
