@import "../global";

#enter-wrapper {
  height: 100vh;
  background-color: $blue;
  position: relative;
  @include flex(column, center, center);
  //   enter form wrapper start
  .enter-form-wrapper {
    position: relative;
    @include flex(column, center, center);
    .form-wrapper {
      width: 100%;
      max-width: 540px;
      padding: 40px 40px 0;
      border-radius: 16px;
      background-color: $white;
      .enter-form-header {
        text-align: center;
        @include fontSize(22px, 4vw, 46px, 500);
      }
      #enterForm {
        margin: 40px 0;
        .form-control-wrapper {
          width: 100%;
          max-width: 460px;
          margin: 0 auto;
          label {
            margin-left: 15px;
            @include fontSize(14px, 2vw, 18px, 500);
          }
          input {
            height: 57px;
          }
          .enter-password-wrapper {
            position: relative;
            input {
              height: 57px;
            }
            span {
              position: absolute;
              top: 30%;
              right: 5%;
              cursor: pointer;
            }
          }
          a {
            text-align: end;
            color: $red;
            @include fontSize(14px, 2vw, 16px, 400);
            @include flex(row, end, center);
            &:hover {
              color: $blue;
            }
          }
        }
        .enter-form-btn {
          @include flex(column, center, center);
          button {
            border: none;
            border-radius: 8px;
            padding: 10px 80px;
            background-color: $red;
            color: $white;
            transition: 0.5s ease;
            margin: 20px 0 0 0;
            @include fontSize(14px, 2vw, 18px, 400);
            &:hover {
              background-color: $blue;
            }
          }
        }
      }
    }
  }
  //   enter form wrapper end
  //   ===================================
  //   enter recover password start
  .recover-password {
    display: none;
    position: relative;
    @include flex(column, center, center);
    .form-wrapper {
      width: 100%;
      max-width: 540px;
      padding: 40px 40px;
      border-radius: 16px;
      background-color: $white;
      .recover-password-header-wrapper {
        text-align: center;
        .recover-password-header {
          color: $black;
          @include fontSize(22px, 4vw, 46px, 500);
        }
        .recover-password-description {
          color: $black;
          @include fontSize(16px, 2vw, 18px, 400);
        }
      }
      form {
        .form-control-wrapper {
          label {
            margin-left: 15px;
            @include fontSize(14px, 2vw, 18px, 500);
          }
          input {
            height: 57px;
          }
        }
        .recover-password-btn-wrapper {
          margin: 20px 0;
          @include flex(row, center, center);
          button {
            color: $white;
            border: none;
            border-radius: 8px;
            padding: 10px 30px;
            background-color: $red;
            color: $white;
            transition: 0.5s ease;
            @include fontSize(14px, 1.8vw, 17px, 400);
            &:hover {
              background-color: $blue;
            }
          }
        }
      }
    }
  }
  //   enter recover password end
  //   ===================================
  //   enter sms wrapper start
  .enter-sms-wrapper {
    width: 100%;
    max-width: 1066px;
    margin: 0 auto;
    .bgWhite {
      background: white;
      box-shadow: 0px 3px 6px 0px #cacaca;
      border-radius: 16px;
      .sms-form-wrapper {
        .title {
          margin-top: 20px;
          color: $black;
          @include fontSize(22px, 3vw, 36px, 500);
        }
        form {
          @include flex(row, center, center, 15px);
          input {
            display: inline-block;
            width: 58px;
            height: 73px;
            text-align: center;
            border-radius: 2px;
            border: none;
            background-color: $light-blue;
          }
        }
        .customBtn {
          border: none;
          border-radius: 8px;
          padding: 10px 30px;
          background-color: $blue;
          color: $white;
          transition: 0.5s ease;
          @include fontSize(14px, 2vw, 18px, 400);
          &:hover {
            color: $blue;
            background-color: $light-blue;
          }
        }
      }
    }
  }
  //   enter sms wrapper end
  //   ===================================
  // left right logo images
  .form-image-1 {
    position: absolute;
    top: 10%;
    left: 0;
    img {
      width: 100%;
      max-width: 500px;
    }
  }
  .form-image-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    img {
      width: 100%;
      max-width: 500px;
    }
  }
}

// RESPONSIVE CSS
@media (max-width: 1200px) {
  #main-header {
    nav {
      .container {
        padding: 0 70px;
      }
    }
  }
  #enter-wrapper {
    .container {
      padding: 0 70px;
    }
  }
}
@media (max-width: 992px) {
  #main-header {
    nav {
      .container {
        padding: 0 50px;
      }
    }
  }
  #enter-wrapper {
    .container {
      padding: 0 50px;
    }
  }
}
@media (max-width: 768px) {
  #main-header {
    nav {
      .container {
        padding: 0 15px;
      }
    }
  }
  #enter-wrapper {
    .container {
      padding: 0 15px;
    }
  }
}
@media (max-width: 576px) {
  #enter-wrapper {
    margin-top: 80px;
  }
}
