@import "../global";

// welcome section start
.welcome-wrapper {
  padding-top: 130px;
  background-color: $blue;

  .welcome-content {
    padding: 20px 0;
    @include flex(row, center, center, nowrap);

    img {
      width: 100%;
      max-width: 200px;
      filter: brightness(2);
    }

    .welcome-title {
      color: $white;
      margin: 0;
      @include fontSize(13px, 2.5vw, 26px, 500);
    }
  }
}

// welcome section end

// Main slider custom css start
.main-slider-wrapper {
  width: 100%;

  .swiper-animation-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 80vh;
    }
    img:nth-child(1) { animation: slide1 4s linear; }
    @keyframes slide1 { 
      0% { width: 80%; }
      25% { width: 20%; }
      100% { width: 20%; }
    }

    img:nth-child(2) { animation: slide2 3s linear;  animation-delay: 1s; }
    @keyframes slide2 { 
      0% { width: 80%; }
      33% { width: 20%; }
      100% { width: 20%; }
    }


    img:nth-child(3) { animation: slide3 2s linear;  animation-delay: 2s; }
    @keyframes slide3 { 
      0% { width: 80%; }
      50% { width: 20%; }
      100% { width: 20%; }
    }

    img:nth-child(4) { animation: slide4 2s linear;  animation-delay: 3s; }
    @keyframes slide4 { 
      0% { width: 40%; 
        position: absolute;
        right: 0;
        z-index: 9;
      }
      100% { width: 100%; }
    }
  }
}

// Main slider custom css end

// Online assessment custom css start
.online-assessment-wrapper {
  @include flex(column, center, center, nowrap, 30px);
  box-shadow: $inside-box-shadow;
  margin: 30px 0;
  padding: 30px;
  border-radius: 24px;

  .assessment-header-wrapper {
    .online-assessment-header {
      @include fontSize(22px, 4vw, 56px, 500);
      text-align: center;
    }

    .online-assessment-description {
      @include fontSize(16px, 3vw, 36px, 400);
      width: 100%;
      max-width: 818px;
      text-align: center;
    }
  }

  .form-wrapper {
    width: 100%;
    @include flex(row, center, end, nowrap);

    form {
      width: 100%;
      max-width: 954px;

      .input-wrapper {
        margin-bottom: 15px;
        @include flex(row, start, end, nowrap, 20px);

        .phone-number-assessment-input-wrapper {
          width: 100%;
        }

        label {
          @include fontSize(14px, 2vw, 18px, 500);
          color: $black;
          margin-left: 20px;
        }

        input {
          padding: 10px 30px;
          max-width: 854px;
          height: 60px;
        }

        &.sms-input-wrapper {
          display: none;
        }

        .send-action-wrapper {
          width: 45%;

          button {
            width: 100%;
            height: 60px;
          }
        }
      }
    }

    .sms-action-wrapper {
      display: none;
      width: 46%;
      align-items: center;
      gap: 10px;

      #auto-decrement-time-for-sms {
        @include fontSize(16px, 2vw, 20px, 500);
      }
    }

    .assessment-btn {
      border: transparent;
      background-color: $red;
      padding: 8px 30px;
      border-radius: 0.375rem;
      color: $white;
      height: 60px;
      width: 100%;
      @include fontSize(14px, 2vw, 18px, 400);
      @include flex(row, center, center, nowrap);

      &:hover {
        outline: 3px solid rgb(255, 0, 0, 0.3);
      }

      &:disabled {
        background-color: gray;
        color: $white;
        outline: none;
      }
    }
  }
}

// Online assessment custom css end
// --------------------------------------------------------
// Sale Banner custom css start
.banner-content-wrapper {
  background-image: url("/assets/images/home/sale-banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  //   aspect-ratio: 1920 / 1000;
  height: 900px;
  position: relative;

  .banner-header {
    position: absolute;
    // left: 10%;
    bottom: 20%;
    @include fontSize(14px, 3.5vw, 36px, 400);
    width: 100%;
    max-width: 300px;
    margin: 0;
  }

  span {
    @include fontSize(14px, 3.5vw, 46px, 500);
  }
}

// Sale Banner custom css end
// --------------------------------------------------------
// Swiper css start
.slider-wrapper {
  margin: 40px 0;

  .carousel-content-wrapper {
    @include flex(column, center, center);
    margin: 0 0 20px 0;

    .carousel-header {
      @include fontSize(22px, 4vw, 56px, 700);
      color: $blue;
      text-align: center;
      margin: 0;
    }

    .carousel-description {
      @include fontSize(16px, 3vw, 36px, 400);
      color: $black;
      text-align: center;
      margin-bottom: 50px;
    }
  }
}

.carousel-wrapper {
  padding: 40px 0;

  .owl-carousel {
    position: relative;

    .item {
      @include flex(column, center, center);
      box-shadow: $inside-box-shadow-black;
      border-radius: 26px;
      width: 100%;
      max-width: 450px;
      aspect-ratio: 350 / 420;
      height: auto;

      img {
        padding: 10px 30px 0;
      }

      .swiper-item-title {
        @include fontSize(14px, 3vw, 28px, 400);
        margin: 0;
        text-align: center;
        padding: 0 20px 30px;
      }
    }

    .owl-nav {
      .owl-prev {
        background-color: $red;
        border-radius: 50%;
        // padding: 5px 20px 10px !important;
        position: absolute;
        color: $white;
        margin-top: 10px;
        left: 0;
        width: 50px;
        height: 50px;

        span {
          font-size: 60px;
          position: absolute;
          top: 33%;
          left: 48%;
          transform: translate(-50%, -50%);
        }
      }

      .owl-next {
        background-color: $red;
        border-radius: 50%;
        // padding: 5px 20px 10px !important;
        position: absolute;
        color: $white;
        margin-top: 10px;
        right: 0;
        width: 50px;
        height: 50px;

        span {
          font-size: 60px;
          position: absolute;
          top: 33%;
          left: 55%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block !important;
}

// Swiper css end
// --------------------------------------------------------
.product-evolution-wrapper {
  margin: 40px 0;

  .product-evalution-header {
    @include fontSize(22px, 4vw, 56px, 700);
    color: rgb(0, 140, 238);
    text-align: center;
    margin: 0 0 50px 0;
  }

  .product-evalution-card-wrapper {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 50px;

    .product-evalution-card {
      @include flex(column, start, center, nowrap, 30px);
      box-shadow: $outside-box-shadow;
      padding: 35px 25px;
      border-radius: 26px;
      position: relative;

      //   aspect-ratio: 450 / 400;
      .product-evalution-image-wrapper {
        background-color: $light-blue;
        border-radius: 50%;
        padding: 20px;

        img {
          width: 100%;
          max-width: 80px;
        }
      }

      a {
        @include fontSize(14px, 2vw, 24px, 500);
        color: $black;
        text-align: center;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
        }
      }

      &:hover {
        box-shadow: $outside-box-shadow-blue;
        transform: scale(1.03);
      }
    }
  }
}

// --------------------------------------------------------
.our-preferences-wrapper {
  .our-preferences-header-wrapper {
    padding: 40px 0;

    .our-preferences-header {
      color: $blue;
      text-align: center;
      @include fontSize(22px, 4vw, 56px, 700);
    }

    .our-preferences-description {
      color: $black;
      text-align: center;
      @include fontSize(16px, 3vw, 36px, 400);
    }
  }

  .our-preferences-item {
    padding: 30px 0;
    @include flex(row, start, center, nowrap);

    .preferences-green {
      background-color: $green;
      border-radius: 50%;
      padding: 13.5px;

      img {
        width: 60px;
      }
    }

    .preferences-red {
      background-color: $red;
      border-radius: 50%;
      padding: 13.5px;

      img {
        width: 60px;
      }
    }

    .preferences-orange {
      background-color: $orange;
      border-radius: 50%;
      padding: 13.5px;

      img {
        width: 60px;
      }
    }

    .preferences-purple {
      background-color: $purple;
      border-radius: 50%;
      padding: 13.5px;

      img {
        width: 60px;
      }
    }

    .our-perferences-item-title {
      margin: 0;
      color: $black;
      @include fontSize(14px, 2vw, 22px, 500);
    }
  }
}

// --------------------------------------------------------
// Responsive custom css start
@media (max-width: 1400px) {
  .banner-content-wrapper {
    height: 600px;
  }

  .product-evolution-wrapper {
    .product-evalution-card-wrapper {
      .product-evalution-card {
        .product-evalution-image-wrapper {
          img {
            width: 100%;
            max-width: 60px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 70px;
  }

  header#main-header {
    nav {
      .top-nav {
        justify-content: space-evenly;

        .search-wrapper {
          display: none !important;
        }

        .enter-wrapper {
          .overlay {
            .modal-image-1 {
              max-width: 400px;
            }

            .modal-image-2 {
              max-width: 400px;
            }
          }
        }
      }
    }
  }

  .main-slider-wrapper {
    .slider {
      height: 600px;
    }
  }

  .banner-content-wrapper {
    height: 600px;
  }

  .footer-top-wrapper {
    .footer-about-us-wrapper {
      text-align: start;
      @include flex(column, center, start, wrap, 20px);
    }

    .footer-contact-wrapper {
      text-align: start;
      @include flex(column, center, start, wrap, 20px);
    }
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 50px;
  }

  .main-slider-wrapper {
    .slider {
      height: 600px;
    }

    .thumbnail .item {
      width: 150px;
      height: 170px;
    }
  }

  .banner-content-wrapper {
    height: 380px;
  }

  .our-preferences-wrapper {
    .our-preferences-item {
      padding: 10px 0;
    }
  }

  .online-assessment-wrapper .form-wrapper {
    @include flex(column, center, end);

    form {
      .input-wrapper {
        @include flex(column, center, end);
      }
    }
  }
}

@media (max-width: 768px) {
  #main-header {
    nav {
      .top-nav {
        .dropdown {
          display: none !important;
        }
      }

      .bottom-nav {
        .bottom-nav-items {
          display: none !important;
        }

        .dropdown {
          display: block !important;
        }
      }
    }
  }

  #main-body-content {
    .main-content-wrapper {
      .left-menu {
        .left-menu-language {
          display: block;
        }
      }
    }
  }

  //
  .container {
    padding: 0 15px;
  }

  .welcome-wrapper {
    padding-top: 150px;

    .welcome-content {
      @include flex(column, center, center);
    }
  }

  .banner-content-wrapper {
    .banner-header {
      width: 100%;
      max-width: 200px;
    }
  }

  .product-evolution-wrapper {
    .product-evalution-card-wrapper {
      .product-evalution-card {
        .product-evalution-image-wrapper {
          img {
            width: 100%;
            max-width: 40px;
          }
        }
      }
    }
  }

  .our-preferences-wrapper {
    .our-preferences-item {
      padding: 0;
    }
  }
}

@media (max-width: 576px) {
  header#main-header {
    nav {
      .top-nav {
        justify-content: space-evenly;

        .search-wrapper {
          display: none !important;
        }

        .enter-wrapper {
          .overlay {
            .modal-image-1 {
              max-width: 300px;
            }

            .modal-image-2 {
              max-width: 300px;
            }
          }
        }
      }
    }
  }

  #main-body-content {
    .main-content-wrapper {
      .left-menu {
        .search-wrapper {
          display: block;
        }
      }
    }
  }

  //
  .welcome-wrapper {
    .welcome-content {
      padding: 10px 0;

      img {
        max-width: 200px;
      }
    }
  }

  .main-slider-wrapper {
    .slider {
      height: 500px;
    }

    .thumbnail .item {
      width: 100px;
      height: 110px;
    }
  }

  .online-assessment-wrapper {
    .form-wrapper {
      form {
        .input-wrapper {
          .send-action-wrapper {
            width: 100%;
          }
        }

        .sms-action-wrapper {
          width: 100%;
        }
      }
    }
  }

  .banner-content-wrapper {
    height: 250px;
  }

  .slider-wrapper {
    .carousel-content-wrapper {
      margin: 0;

      .carousel-description {
        margin-bottom: 10px;
      }
    }
  }

  .carousel-wrapper {
    padding: 10px 0;

    .owl-carousel {
      .owl-nav {
        .owl-prev {
          span {
            font-size: 50px;
            top: 33%;
            left: 50%;
          }
        }

        .owl-next {
          span {
            font-size: 50px;
            top: 33%;
            left: 55%;
          }
        }
      }
    }
  }

  .our-preferences-wrapper .our-preferences-item {
    text-align: center;
    @include flex(column, center, center);
  }

  //   footer
  .footer-top-wrapper {
    .footer-logo-wrapper {
      text-align: center;
    }

    .footer-social-wrapper {
      @include flex(row, center, center, wrap, 20px);
    }

    .footer-about-us-wrapper {
      text-align: center;
      @include flex(column, center, center, wrap, 20px);
    }

    .footer-contact-wrapper {
      text-align: center;
      @include flex(column, center, center, wrap, 20px);
    }
  }

  header#main-header nav .bottom-nav .bottom-nav-items {
    gap: 0px 30px;
  }
}

@media (max-width: 385px) {
  .welcome-wrapper {
    padding-top: 170px;
  }
}

// Responsive custom css end