@import "../global";

// welcome section start
.welcome-wrapper {
  padding-top: 70px;
  background-color: $blue;

  .welcome-content {
    padding: 20px 0;
    height: 121px;
    @include flex(row, center, center, nowrap);

    img {
      width: 100%;
      max-width: 200px;
      filter: brightness(2);
    }

    .welcome-title {
      color: $white;
      margin: 0;
      @include fontSize(24px, 2.5vw, 26px, 500);
    }
  }
}

// welcome section end

// Main slider custom css start
.main-slider-wrapper {
  width: 100%;
}

.swiper-animation-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 80vh;
}

.anim-img {
  width: 100%;
  transition: width 4s ease;
  position: absolute;
}

.anim-img img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

/* Media query для маленьких экранов */
@media (max-width: 768px) {
  // .swiper-animation-wrapper {
  //   height: 50vh;
  // }
  .swiper-animation-wrapper {
    height: 27vh;
  }

  // .anim-img img {
  //   height: 50vh;
  // }
  .anim-img img {
    height: 30vh;
  }

  /* Ускоренная анимация для маленьких экранов */
  .anim-img:nth-child(1) {
    animation: slide1-small 2s ease-in-out forwards;
    right: -100%;
  }
  .anim-img:nth-child(2) {
    animation: slide2-small 2s ease-in-out forwards;
    animation-delay: 2s;
    right: -100%;
  }
  .anim-img:nth-child(3) {
    animation: slide3-small 2s ease-in-out forwards;
    animation-delay: 4s;
    right: -100%;
  }
  .anim-img:nth-child(4) {
    animation: slide4-small 2s ease-in-out forwards;
    animation-delay: 6s;
    right: -100%;
  }

  /* Определения анимации для маленьких экранов */
  @keyframes slide1-small {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }

  @keyframes slide2-small {
    0% {
      right: -100%;
    }
    100% {
      right: -25%;
    }
  }

  @keyframes slide3-small {
    0% {
      right: -100%;
    }
    100% {
      right: -50%;
    }
  }

  @keyframes slide4-small {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
}

/* Оригинальные анимации для больших экранов */
.anim-img:nth-child(1) {
  animation: slide1 3s ease-in-out forwards;
  right: -100%;
}
@keyframes slide1 {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
.anim-img:nth-child(2) {
  animation: slide2 3s ease-in-out forwards;
  animation-delay: 3s;
  right: -100%;
}
@keyframes slide2 {
  0% {
    right: -100%;
  }
  100% {
    right: -25%;
  }
}
.anim-img:nth-child(3) {
  animation: slide3 3s ease-in-out forwards;
  animation-delay: 6s;
  right: -100%;
}
@keyframes slide3 {
  0% {
    right: -100%;
  }
  100% {
    right: -50%;
  }
}
.anim-img:nth-child(4) {
  animation: slide4 3s ease-in-out forwards;
  animation-delay: 9s;
  right: -100%;
}
@keyframes slide4 {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

// chat start
.chat-container {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 999;
  width: 100%;

  .chat-wrapper {
    width: 100%;
    touch-action: none;
    user-select: none;
    position: relative;
    @include flex(column, center, end);
    .chat-btn-content {
      position: absolute;
      bottom: -10px;
      right: -10px;
      background-color: $white;
      border-radius: 16px;
      width: 100%;
      max-width: 330px;
      height: 315px;
      box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
      display: none;
      .chat-content-header {
        padding: 10px 20px;
        border-bottom: 1px solid $grey;
        @include flex(row, space-between, center);
        .chat-content-header-title {
          @include fontSize(13px, 1.5vw, 18px, 500);
          margin: 0;
        }
      }
      .chat-content-body {
        padding: 40px 20px;
        @include flex(column, center, center);
        .chat-body-btn {
          background-color: $blue;
          color: $white;
          width: 100%;
          @include flex(column, center, center);
          @include flex(13px, 1.5vw, 16px, 400);
        }
      }
    }
    .chat-btn {
      background-color: rgba(97, 190, 255, 0.95);
      border-radius: 16px;
      border-color: transparent;
      padding: 10px;
      z-index: 2;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
// chat end

// Main slider custom css end

// Online assessment custom css start
.online-assessment-wrapper {
  @include flex(column, center, center, nowrap, 30px);
  box-shadow: $inside-box-shadow;
  margin: 30px 0;
  padding: 30px;
  border-radius: 24px;

  .assessment-header-wrapper {
    .online-assessment-header {
      color: $blue;
      @include fontSize(22px, 4vw, 56px, 500);
      text-align: center;
    }

    .online-assessment-description {
      @include fontSize(16px, 3vw, 36px, 400);
      width: 100%;
      max-width: 818px;
      text-align: center;
    }
  }

  .form-wrapper {
    width: 100%;
    @include flex(row, center, end, nowrap);

    form {
      width: 100%;
      max-width: 954px;

      .input-wrapper {
        margin-bottom: 15px;
        @include flex(row, start, end, nowrap, 20px);

        .phone-number-assessment-input-wrapper {
          width: 100%;
        }

        label {
          @include fontSize(14px, 2vw, 18px, 500);
          color: $black;
          margin-left: 20px;
        }

        input {
          padding: 10px 30px;
          max-width: 854px;
          height: clamp(26px, 5.5vw, 60px);
          @include fontSize(14px, 2vw, 18px, 400);
        }

        &.sms-input-wrapper {
          display: none;
        }

        .send-action-wrapper {
          width: 45%;

          button {
            width: 100%;
            height: clamp(26px, 5.5vw, 60px);
          }
        }
      }
    }

    .sms-action-wrapper {
      display: none;
      width: 46%;
      align-items: center;
      gap: 10px;

      #auto-decrement-time-for-sms {
        @include fontSize(16px, 2vw, 20px, 500);
      }
    }

    .assessment-btn {
      border: transparent;
      background-color: $red;
      // padding: 8px 30px;
      padding: clamp(8px, 1vw, 8px) clamp(5px, 1vw, 30px);
      border-radius: 0.375rem;
      color: $white;
      height: 60px;
      // width: 100%;
      @include fontSize(14px, 2vw, 18px, 400);
      @include flex(row, center, center, nowrap);

      &:hover {
        outline: 3px solid rgb(255, 0, 0, 0.3);
      }

      &:disabled {
        background-color: gray;
        color: $white;
        outline: none;
      }
    }
  }
}

// Online assessment custom css end
// --------------------------------------------------------
// Sale Banner custom css start
.banner-content-wrapper {
  background-image: url("/assets/images/home/sale-banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  //   aspect-ratio: 1920 / 1000;
  height: 900px;
  position: relative;

  .banner-header {
    position: absolute;
    // left: 10%;
    bottom: 20%;
    @include fontSize(14px, 3.5vw, 36px, 400);
    width: 100%;
    max-width: 300px;
    margin: 0;
  }

  span {
    @include fontSize(14px, 3.5vw, 46px, 500);
  }
}

// Sale Banner custom css end
// --------------------------------------------------------
// Swiper css start
.slider-wrapper {
  margin: 40px 0;

  .carousel-content-wrapper {
    @include flex(column, center, center);
    margin: 0 0 20px 0;

    .carousel-header {
      @include fontSize(22px, 4vw, 56px, 700);
      color: $blue;
      text-align: center;
      margin: 0;
    }

    .carousel-description {
      @include fontSize(16px, 3vw, 36px, 400);
      color: $black;
      text-align: center;
      margin-bottom: 50px;
    }
  }
}

.carousel-wrapper {
  padding: 40px 0;

  .owl-carousel {
    position: relative;

    .item {
      @include flex(column, center, center);
      box-shadow: $inside-box-shadow-black;
      border-radius: clamp(14px, 4vw, 40px);
      width: 100%;
      max-width: 450px;
      aspect-ratio: 350 / 420;
      height: auto;

      img {
        padding: 10px 30px 0;
      }

      .swiper-item-title {
        @include fontSize(14px, 3vw, 28px, 400);
        margin: 0;
        text-align: center;
        padding: 0 20px 30px;
      }
    }

    .owl-nav {
      .owl-prev {
        background-color: $red;
        border-radius: 50%;
        // padding: 5px 20px 10px !important;
        position: absolute;
        color: $white;
        margin-top: 10px;
        left: 0;
        width: 50px;
        height: 50px;

        span {
          font-size: 60px;
          position: absolute;
          top: 33%;
          left: 48%;
          transform: translate(-50%, -50%);
        }
      }

      .owl-next {
        background-color: $red;
        border-radius: 50%;
        // padding: 5px 20px 10px !important;
        position: absolute;
        color: $white;
        margin-top: 10px;
        right: 0;
        width: 50px;
        height: 50px;

        span {
          font-size: 60px;
          position: absolute;
          top: 33%;
          left: 55%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block !important;
}

// Swiper css end
// --------------------------------------------------------
.product-evolution-wrapper {
  margin: 40px 0;

  .product-evalution-header {
    @include fontSize(36px, 4vw, 56px, 700);
    color: rgb(0, 140, 238);
    text-align: center;
    margin: 0 0 50px 0;
  }

  .product-evalution-card-wrapper {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 50px;

    .product-evalution-card {
      @include flex(column, start, center, nowrap, 30px);
      box-shadow: $outside-box-shadow;
      padding: 35px 25px;
      border-radius: 26px;
      position: relative;

      //   aspect-ratio: 450 / 400;
      .product-evalution-image-wrapper {
        background-color: $light-blue;
        border-radius: 50%;
        padding: 20px;

        img {
          width: 100%;
          max-width: 80px;
        }
      }

      a {
        @include fontSize(14px, 2vw, 24px, 500);
        color: $black;
        text-align: center;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
        }
      }

      &:hover {
        box-shadow: $outside-box-shadow-blue;
        transform: scale(1.03);
      }
    }
  }
}

// --------------------------------------------------------
.our-preferences-wrapper {
  .our-preferences-header-wrapper {
    padding: 40px 0 0;

    .our-preferences-header {
      color: $blue;
      text-align: center;
      @include fontSize(37px, 4vw, 56px, 700);
    }

    .our-preferences-description {
      color: $black;
      text-align: center;
      @include fontSize(15px, 3vw, 36px, 400);
    }
  }

  .our-preferences-content-wrapper {
    .our-preferences-item {
      padding: 30px 0;
      @include flex(row, start, start, nowrap);

      .preferences-green {
        background-color: $green;
        border-radius: 50%;
        padding: 13.5px;

        img {
          width: 60px;
        }
      }

      .preferences-red {
        background-color: $red;
        border-radius: 50%;
        padding: 13.5px;

        img {
          width: 60px;
        }
      }

      .preferences-orange {
        background-color: $orange;
        border-radius: 50%;
        padding: 13.5px;

        img {
          width: 60px;
        }
      }

      .preferences-blue {
        background-color: $blue;
        border-radius: 50%;
        padding: 13.5px;

        img {
          width: 60px;
        }
      }

      .preferences-purple {
        background-color: $purple;
        border-radius: 50%;
        padding: 13.5px;

        img {
          width: 60px;
        }
      }

      .our-perferences-item-title {
        margin: 0;
        color: $black;
        @include fontSize(14px, 2vw, 22px, 500);
      }
    }
  }
}

// Popup sction start
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 105;
  background: rgba(0, 0, 0, 0.75);
}
.hidden {
  display: none;
}

#popup,
#popup-2,
#popup-3 {
  display: none;
  .popup-wrapper {
    width: 100%;
    max-width: 1420px;
    background-color: $white;
    border-radius: clamp(20px, 3.5vw, 50px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    @include flex(row, center, normal, nowrap);
    .anim-wrapper {
      video {
        width: 100%;
        max-width: 1019px;
        height: 100%;
        border-radius: clamp(20px, 3.5vw, 50px);
      }
    }
    .anim-content-wrapper {
      width: 100%;
      max-width: 450px;
      padding: 10px 20px;
      text-align: center;
      .pop-close-btn {
        font-size: clamp(12px, 2vw, 21px);
        margin: 0 0 0 90%;
      }
      .popup-content-container {
        @include flex(column, center, center, nowrap, clamp(10px, 1.5vw, 30px));
        .popup-top-header {
          font-weight: 400;
          color: $blue;
          font-size: clamp(21px, 2.5vw, 32px);
          line-height: clamp(25px, 4vw, 40px);
        }
        span {
          font-weight: 600;
          color: $blue;
          font-size: clamp(21px, 2.5vw, 32px);
          line-height: clamp(25px, 4vw, 40px);
          p {
            margin: 0;
          }
        }
        form {
          width: 100%;
          @include flex(
            column,
            center,
            center,
            nowrap,
            clamp(10px, 1.5vw, 30px)
          );
          input {
            width: 100%;
            background-color: $light-blue;
            padding: 10px;
            font-size: clamp(10px, 1.5vw, 20px);
            &::placeholder {
              text-align: center;
              color: $grey;
              font-size: clamp(10px, 1.5vw, 20px);
            }
            &:focus {
              box-shadow: none;
            }
          }
          button {
            font-weight: 500;
            color: $white;
            background-color: $red;
            font-size: clamp(14px, 2vw, 24px);
          }
        }
      }
    }
  }
}
// Popup sction end

// --------------------------------------------------------
// Mobile menu css start
.mobile-bottom-menu-wrapper {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white;
  padding: 15px 0;
  border-top: 1px solid $light-grey;
  z-index: 1000;

  .items-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      position: relative;

      img {
        width: 32px;
        transition: filter 0.3s ease;
      }

      a {
        color: $black;
        font-weight: 500;
        font-size: clamp(12px, 1.5vw, 16px);
        transition: color 0.3s ease;
        &::after {
          position: absolute;
          content: "";
          inset: 0;
        }
        &:hover {
          color: $blue;
        }
      }

      &.active {
        a {
          color: $blue;
        }

        img {
          filter: brightness(0) saturate(100%) invert(29%) sepia(85%)
            saturate(3000%) hue-rotate(205deg) brightness(90%) contrast(101%);
        }
      }
    }
  }
}
.mobile-catalog {
  margin-top: 100px;
  display: none;
  .mobile-catalog-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mobile-catalog-header {
      font-weight: 600;
      font-size: clamp(22px, 2.5vw, 26px);
    }

    .mobile-filtr {
      img {
        filter: brightness(0);
      }
    }
  }
  .mobile-catalog-wrapper {
    .catalog-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      text-align: center;
      border: 0.85px solid $blue;
      border-radius: 8.5px;
      min-height: clamp(110px, 8vw, 150px);
      padding: 10px;
      position: relative;
      &:hover {
        background-color: $light-blue;
      }
      .catalog-img-wrapper {
        position: absolute;
        top: -30px;
        img {
          width: 100%;
          max-height: clamp(90px, 8vw, 110px);
          object-fit: cover;
        }
      }
      a {
        padding-top: 10px;
        color: $black;
        font-size: 11px;
        font-weight: 400;
        text-align: center;
        min-height: 40px; /* Фиксированная минимальная высота для текста */
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          position: absolute;
          content: "";
          inset: 0;
        }
      }
    }
  }
}
// --------------------------------------------------------

// Mobile menu css end
// --------------------------------------------------------
// Responsive custom css start
@media (max-width: 1400px) {
  .banner-content-wrapper {
    height: 600px;
  }

  .product-evolution-wrapper {
    .product-evalution-card-wrapper {
      .product-evalution-card {
        .product-evalution-image-wrapper {
          img {
            width: 100%;
            max-width: 60px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 70px;
  }

  header#main-header {
    nav {
      .top-nav {
        justify-content: space-evenly;

        .search-wrapper {
        }

        .enter-wrapper {
          .overlay {
            .modal-image-1 {
              max-width: 400px;
            }

            .modal-image-2 {
              max-width: 400px;
            }
          }
        }
      }
    }
  }

  .main-slider-wrapper {
    .slider {
      height: 600px;
    }
  }

  .banner-content-wrapper {
    height: 600px;
  }

  .footer-top-wrapper {
    .footer-about-us-wrapper {
      text-align: start;
      @include flex(column, center, start, wrap, 20px);
    }

    .footer-contact-wrapper {
      text-align: start;
      @include flex(column, center, start, wrap, 20px);
    }
  }

  #popup,
  #popup-2,
  #popup-3 {
    position: relative;
    .popup-wrapper {
      width: 100%;
      max-width: 700px;
      padding: clamp(30px, 3vw, 50px) clamp(10px, 1.5vw, 30px) 0;
      @include flex(column, center, center, nowrap);
      .anim-content-wrapper {
        .pop-close-btn {
          padding: 0;
          position: absolute;
          top: clamp(5px, 1vw, 10px);
          right: clamp(10px, 1.5vw, 30px);
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 50px;
  }

  .main-slider-wrapper {
    .slider {
      height: 600px;
    }

    .thumbnail .item {
      width: 150px;
      height: 170px;
    }
  }

  .banner-content-wrapper {
    height: 380px;
  }

  .our-preferences-wrapper {
    .our-preferences-content-wrapper {
      padding: 0 20px;
      .our-preferences-item {
        padding: 10px 0;
      }
    }
  }

  .online-assessment-wrapper .form-wrapper {
    @include flex(column, center, end);

    form {
      .input-wrapper {
        // @include flex(column, center, end);
        @include flex(row, center, end);
      }
    }
  }
}

@media (max-width: 768px) {
  #main-header {
    nav {
      .top-nav {
        .enter-wrapper {
          display: none !important;
        }
        .add-to-cart-wrapper {
          display: none !important;
        }
        .logo-wrapper {
          display: none !important;
        }
      }
      .bottom-nav {
        .bottom-nav-items {
          display: none !important;
        }

        .dropdown {
          display: block !important;
        }
      }
    }
  }

  //
  .container {
    padding: 0 15px;
  }

  .welcome-wrapper {
    // padding-top: 150px;

    .welcome-content {
      @include flex(row, center, center, wrap, 0);
    }
  }

  .banner-content-wrapper {
    .banner-header {
      width: 100%;
      max-width: 140px;
    }
  }

  .product-evolution-wrapper {
    .product-evalution-card-wrapper {
      .product-evalution-card {
        .product-evalution-image-wrapper {
          img {
            width: 100%;
            max-width: 40px;
          }
        }
      }
    }
  }

  .our-preferences-wrapper {
    .our-preferences-content-wrapper {
      .our-preferences-item {
        padding: 0;
      }
    }
  }
}

@media (max-width: 576px) {
  .chat-container {
    bottom: 10%;
    right: 5%;
  }
  .mobile-bottom-menu-wrapper {
    display: block;
  }
  .chat-container {
    .chat-btn {
      img {
        width: 30px;
        height: 30px;
      }
    }
    .chat-button-content {
      max-width: 200px;
      height: 250px;
    }
  }

  .mobile-catalog {
    display: block;
  }

  header#main-header {
    nav {
      .top-nav {
        justify-content: space-evenly;

        .enter-wrapper {
          .overlay {
            .modal-image-1 {
              max-width: 300px;
            }

            .modal-image-2 {
              max-width: 300px;
            }
          }
        }
      }
    }
  }

  //
  .welcome-wrapper {
    .welcome-content {
      padding: 10px 0;

      img {
        max-width: 140px;
      }
    }
  }

  .main-slider-wrapper {
    .slider {
      height: 500px;
    }

    .thumbnail .item {
      width: 100px;
      height: 110px;
    }
  }

  .online-assessment-wrapper {
    .form-wrapper {
      form {
        .input-wrapper {
          .phone-number-assessment-input-wrapper {
            input {
              padding: 0 5px;
              width: 100%;
            }
          }
          .send-action-wrapper {
            // width: 100%;
            button {
              width: 100%;
            }
          }
        }

        .sms-action-wrapper {
          width: 100%;
        }
      }
    }
  }

  .product-evolution-wrapper {
    .product-evalution-card-wrapper {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      padding: 0 50px;
    }
  }

  .banner-content-wrapper {
    height: 250px;
  }

  .slider-wrapper {
    .carousel-content-wrapper {
      margin: 0;

      .carousel-description {
        margin-bottom: 10px;
      }
    }
  }

  .carousel-wrapper {
    padding: 10px 0;

    .owl-carousel {
      .owl-nav {
        .owl-prev {
          span {
            font-size: 50px;
            top: 33%;
            left: 50%;
          }
        }

        .owl-next {
          span {
            font-size: 50px;
            top: 33%;
            left: 55%;
          }
        }
      }
    }
  }

  .our-preferences-wrapper {
    .our-preferences-item {
      .our-perferences-image-wrapper {
        padding: 10px;
        img {
          max-width: 30px;
        }
      }
    }
  }

  //   footer
  .footer-top-wrapper {
    // .footer-logo-wrapper {
    //   text-align: center;
    // }

    .footer-social-wrapper {
      @include flex(row, start, center, wrap, 20px);
    }

    .footer-about-us-wrapper {
      @include flex(column, center, start, wrap, 20px);
    }

    .footer-contact-wrapper {
      @include flex(column, center, start, wrap, 5px);
    }
  }

  header#main-header nav .bottom-nav .bottom-nav-items {
    gap: 0px 30px;
  }
  .chat-container {
    .chat-wrapper .chat-btn-content {
      position: absolute;
      bottom: -10px;
      right: -10px;
      background-color: $white;
      border-radius: 16px;
      width: 100%;
      max-width: 280px;
      height: 325px;
      box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
      display: none;
    }
  }
}

// @media (max-width: 385px) {
//   .welcome-wrapper {
//     padding-top: 170px;
//   }
// }

// Responsive custom css end
