@import "../global";

main {
  height: 100vh;
  @include flex(column, center, center, wrap);

  .online-evaluation-wrapper {
    padding: 150px 20px;
    border-radius: 16px;
    box-shadow: $inside-box-shadow;
    @include flex(column, center, center, wrap);
    .online-evaluation-title {
      @include flex(column, center, center, wrap);
      .online-evaluation-header {
        color: $blue;
        margin: 0;
        text-align: center;
        @include fontSize(30px, 6vw, 76px, 700);
      }
      .online-evaluation-description {
        text-align: center;
        @include fontSize(16px, 3vw, 26px, 400);
      }
    }

    .online-evaluation-form {
      width: 100%;
      @include flex(column, center, center, wrap);
      form {
        width: 100%;
        @include flex(column, center, center, wrap);

        .form-group {
          width: 100%;
          max-width: 825px;
          @include flex(column, center, start, wrap, 0);

          label {
            @include fontSize(14px, 2vw, 20px, 400);
          }

          .input-wrapper {
            @include flex(row, center, center, nowrap, 50px);
            width: 100%;

            input {
              max-width: 700px;
              width: 100%;
              font-size: 16px;
              height: 50px;
            }

            button {
              padding: 14.5px 0;
              width: 150px;
              height: 50px;
              cursor: pointer;
              background-color: $red;
              color: #fff;
              border: none;
              border-radius: 4px;
              transition: background-color 0.3s ease;
              @include fontSize(12px, 1.5vw, 14px, 400);

              &:hover {
                background-color: $blue;
              }
            }
          }
        }
      }
    }
  }
}

// responsive
@media (max-width: 992px) {
  .container {
    padding: 0 85px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 45px;
  }
  main {
    .online-evaluation-wrapper {
      .online-evaluation-form {
        form {
          .form-group {
            .input-wrapper {
              @include flex(column, center, end);
            }
            .input-wrapper {
              flex-direction: column;

              input {
                margin-right: 0;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}
