@import "../global";

.register-form-wrapper {
  background-color: $blue;
  position: relative;
  .form-image-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
      max-width: 400px;
    }
  }
  .form-image-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
      max-width: 400px;
    }
  }
}
