@import "../global";
// register form custom css start
#register-wrapper {
  height: 100vh;
  background-color: $blue;
  position: relative;
  @include flex(column, center, center);
  .register-form-wrapper {
    position: relative;
    @include flex(column, center, center);
    .form-wrapper {
      width: 100%;
      max-width: 1066px;
      padding: 40px 40px;
      border-radius: 16px;
      background-color: $white;
      .register-form-header {
        text-align: center;
        @include fontSize(22px, 4vw, 56px, 500);
      }
      form {
        margin: 40px 0;
        .form-control-wrapper {
          width: 100%;
          max-width: 460px;
          margin: 0 auto;
          label {
            margin-left: 15px;
            @include fontSize(14px, 2vw, 18px, 500);
          }
          input {
            height: 60px;
          }
        }
        .form-btn {
          @include flex(column, center, center);
          button {
            border: none;
            border-radius: 8px;
            padding: 15px 30px;
            background-color: $red;
            color: $white;
            transition: 0.5s ease;
            @include fontSize(14px, 2vw, 18px, 400);
            &:hover {
              background-color: $blue;
            }
          }
          a {
            color: $red;
            @include fontSize(14px, 2vw, 18px, 500);
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }
  // left right logo images
  .form-image-1 {
    position: absolute;
    top: 10%;
    left: 0;
    img {
      width: 100%;
      max-width: 500px;
    }
  }
  .form-image-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    img {
      width: 100%;
      max-width: 500px;
    }
  }
}
// register form custom css end

// register sms custom css start
.register-sms-wrapper {
  width: 100%;
  max-width: 1066px;
  .bgWhite {
    background: white;
    box-shadow: 0px 3px 6px 0px #cacaca;
    border-radius: 16px;
    .sms-form-wrapper {
      .title {
        margin-top: 20px;
        color: $black;
        @include fontSize(22px, 3vw, 36px, 500);
      }
      form {
        @include flex(row, center, center, 15px);
        input {
          display: inline-block;
          width: 58px;
          height: 73px;
          text-align: center;
          border-radius: 2px;
          border: none;
          background-color: $light-blue;
        }
      }
      .customBtn {
        border: none;
        border-radius: 8px;
        padding: 10px 30px;
        background-color: $blue;
        color: $white;
        transition: 0.5s ease;
        @include fontSize(14px, 2vw, 18px, 400);
        &:hover {
          color: $blue;
          background-color: $light-blue;
        }
      }
    }
  }
}
// register sms custom css end

// sweet alert2 custom css start
.swal2-popup {
  height: 250px;
  width: 100%;
  max-width: 730px;
  aspect-ratio: 710 / 356;
  .swal2-title {
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    @include fontSize(20px, 2vw, 28px, 500);
  }
  .swal2-html-container {
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    @include fontSize(20px, 2vw, 28px, 500);
  }
  .swal2-actions {
    gap: 10px;
    margin: 0;
    .swal2-cancel {
      border: none;
      background-color: $red;
    }
    .swal2-confirm {
      border: none;
      background-color: $red;
    }
  }
}
// sweet alert2 custom css end

// password-form custom css start
.password-form {
  width: 100%;
  display: none;
  form {
    width: 100%;
    max-width: 625px;
    background-color: $white;
    border-radius: 16px;
    margin: 0 auto;
    padding: 50px 20px;
    @include flex(column, center, center);
    .form-control-password {
      width: 100%;
      max-width: 460px;
      position: relative;
      z-index: 1;
      label {
        margin-left: 13px;
        @include fontSize(14px, 2vw, 18px, 400);
      }
      .password-input-wrapper {
        position: relative;
        input {
          height: 50px;
          border-radius: 55px;
          background-color: $light-blue;
          padding-left: 20px;
          &:focus {
            box-shadow: none;
            outline: none;
          }
          &::placeholder {
            color: $grey;
          }
        }
        span {
          position: absolute;
          top: 25%;
          right: 5%;
          img {
            width: 18px;
            cursor: pointer;
          }
        }
      }
      .error {
        text-align: center;
        color: $red;
      }
      button {
        background-color: $red;
        padding: 10px 30px;
        border-radius: 8px;
        border: none;
        color: $white;
        margin: 0 auto;
        @include fontSize(14px, 2vw, 18px, 400);
        @include flex(column, center, center);
        &:hover {
          background-color: $blue;
        }
      }
    }
  }
}
// password-form custom css end

// =========================================================
// RESPONSIVE REGISTER PAGE
@media (max-width: 1200px) {
  .container {
    padding: 0 70px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  #main-body-content .main-content-wrapper .left-menu .left-menu-language {
    display: block;
  }
}

@media (max-width: 658px) {
  #register-wrapper {
    .form-image-1 {
      top: 15%;
    }
  }
}
@media (max-width: 576px) {
  #register-wrapper {
    .register-form-wrapper {
      margin-top: 80px;
    }
  }
  #main-body-content .main-content-wrapper .left-menu .search-wrapper {
    display: block;
  }
}
@media (max-width: 366px) {
  #register-wrapper {
    .form-image-1 {
      top: 20%;
    }
  }
}
