@import "../global";

#register-wrapper {
  height: 100vh;
  background-color: $blue;
  @include flex(column, center, center);
  .register-form-wrapper {
    position: relative;
    @include flex(column, center, center);
    .form-wrapper {
      width: 100%;
      max-width: 1066px;
      padding: 40px 40px;
      border-radius: 16px;
      background-color: $white;
      .register-form-header {
        text-align: center;
        @include fontSize(22px, 4vw, 56px, 500);
      }
      form {
        margin: 40px 0;
        .form-control-wrapper {
          width: 100%;
          max-width: 460px;
          margin: 0 auto;
          label {
            margin-left: 15px;
            @include fontSize(14px, 2vw, 18px, 500);
          }
          input {
            height: 60px;
          }
        }
        .form-btn {
          @include flex(column, center, center);
          button {
            border: none;
            border-radius: 8px;
            padding: 15px 30px;
            background-color: $red;
            color: $white;
            transition: 0.5s ease;
            @include fontSize(14px, 2vw, 18px, 400);
            &:hover {
              background-color: $blue;
            }
          }
          a {
            color: $red;
            @include fontSize(14px, 2vw, 18px, 500);
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .container {
    padding: 0 70px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}
